<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="MMSConnectionString2" connectionString="Data Source=192.168.2.170;Initial Catalog=Enco_Ensys;Persist Security Info=True;User ID=cipldotnet;Password=User123" providerName="System.Data.SqlClient"/>
    <add name="MMSConnectionString" connectionString="Data Source=192.168.2.170;Initial Catalog=Colan_MMS;Persist Security Info=True;User ID=cipldotnet;Password=User123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPServerAddress" value="smtp.gmail.com"/>
    <add key="SMTPUserName" value="karthik90.2016@rediffmail.com"/>
    <add key="EnduraURL" value="mms.endurashoes.com"/>
    <add key="SMTPPassword" value="karthik@123"/>
    <!--<add key ="Mode" value ="Daily"/>-->
    <add key="Mode" value="Interval"/>
    <add key="IntervalMinutes" value="15"/>
    <add key="ScheduledTime" value="02:30"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
