@model MMS.Web.Models.IssueTypeModel.IssueTypeModel
@{
    int id = Model.IssueTypeMasterId;
    Session["IssueTypeMasterId"] = id;
     
}
<script>
    $(function () {
        if ($('#IssueTypeCode').val() == "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetIssueId", "IssueType")', // we are calling json method
                dataType: 'json',
                data: { id: $(this).val() }, // here we are get value of selected country and passing same value   as inputto json method GetStates.
                success: function (states) {
                    $("#IssueTypeCode").val(states)
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
        }

    });
</script>

<div class="right-form-section clearfix">
    <form role="form" class="form-inline">
        <div class="container-fluid">
            <div class="field-section">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <p class="section-title">Issue Type Master</p>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <div class="field-section">
                                <div class="form-group">
                                    <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
                                        <label class="form-label" for="text">IssueType Code</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">
                                        @Html.TextBoxFor(m => m.IssueTypeCode, new { @class = "form-control text-field",@readonly=true })
                                    </div>
                                </div>
                            </div>
                            <div class="field-section">
                                <div class="form-group">
                                    <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
                                        <label class="form-label" for="text">IssueType</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">

                                        @Html.HiddenFor(x => x.IssueTypeMasterId)
                                        @Html.TextBoxFor(m => m.IssueType, new { @class = "form-control text-field" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-footer">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 text-center">

                    <input type="button" onclick="Cancel()" class="btn btn-default btn-style" title="Back" value="Back">
                    @if (Model != null && Model.IssueTypeMasterId != 0)
                    {

                        <input type="button" onclick="Update()" class="btn btn-default btn-style" id="IssueTypeMasterId" title="Update" value="Update">
                    }
                    else
                    {
                        <input type="button" onclick="Save()" class="btn btn-default btn-style" title="Save" value="Save">
                    }
                    <button class="btn btn-default btn-style" type="button">Clear</button>
                </div>
            </div>
        </div>
    </form>
</div>
