@model MMS.Web.Models.StockModel.GRN_Details_ModelNew
@using MMS.Repository.Managers.StockManager
@using MMS.Core.Entities.Stock
@using MMS.Core.Entities
@{
    ViewBag.Title = "Good Receipe Note";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="content-title">GRN</h2>
<div style="width: 100%; float: left;">

    <div class="loader-overlay" style="position:fixed;left:0;right:0;top:0;bottom:0;margin:auto;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index:99;">
        <div id="spinner" style="position:relative;height:64px;width:64px;margin:auto;top:50%;">
            <img src="~/Content/Images/round.gif" id="imgLoading" alt="Loading..." />
        </div>
    </div>
    <div id="tabVehicleWatchList">
        @Html.Action("GoodReceipeNoteGrid", "GRN_DetailNew")
    </div>
</div>
<script>
    var totalAmlunt = 0;
    $(window).load(function () {
        $('.loader-overlay').fadeOut('fast');
    });
    function Delete(arg) {
        $('#list-amended-material tr#' + arg + '').remove();
        $.ajax({
            url: '/GRN_DetailNew/Delete',
            type: "Post",
            dataType: "JSON",
            data: { GrnID: arg },
            success: function (cities) {
                if (cities == "Success") {
                    alert("Grn Material deleted successfuly.");
                    location.href = "/GRN_DetailNew/GoodReceipeNote";
                    return false;
                }
            }
        });
    }
 
</script>
