@model MMS.Web.Models.MaterailCategory.MaterialCategoryModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <link href="~/Content/css1/dropdown.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="~/Content/css1/Toast.css" rel="stylesheet" />
</head>

<body>

    <div class="main-page">
        <section class="inner-section">
            <div class="edit-customer">
                <a href="/CategoryMaster/CategoryMaster">
                    <div class="back-button"><img src="~/Content/assets/images/choose-plan.png" alt="back arrow"></div>
                </a>
                <h2 class=" font-20">Category info</h2>

            </div>
            <div class="edit-section">
                <h3 class="font-20">Basic Information</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Account">Category Name</label>
                            @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control text-field", placeholder = "Enter the Category Name", onkeyup = "categoryfun()" })
                            <p class="text-danger" id="error31"></p>
                            @Html.HiddenFor(m => m.MaterialCategoryMasterId)
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#Account">Category Code</label>
                            @Html.TextBoxFor(m => m.CategoryCode, new { @class = "form-control text-field", placeholder = "Enter the Category Code", onkeyup = "categoryCod()" })
                            <p class="text-danger" id="error"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-part">
                            <label class="font-14" for="#AccountTypeId">Category Type </label>
                            @Html.DropDownListFor(m => m.Categorytype, MMS.Web.ExtensionMethod.HtmlHelper.CategoryType(), new { @class = "select-style text-field", onchange = "categorytypeCod()" })
                            <p class="text-danger" id="error3"></p>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 text-center">
                            <a href="/CategoryMaster/CategoryMaster">
                                <button class="border-color font-15">
                                    CANCEL
                                </button>
                            </a>
                            @if (Model != null && Model.MaterialCategoryMasterId != 0)
                            {

                                <button type="submit" class="fill-color font-15" onclick="Save(); categorysave();">
                                    Update
                                </button>

                            }
                            else
                            {
                                <button type="submit" class="fill-color font-15" onclick="Save(); categorysave();">
                                    SAVE
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <div id="toast"></div>


    </div>


    <script src="~/Content/js/custom.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Content/js/Validation.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script>
        $(window).on("load", function () {
            $(".report-inner-section").addClass("transection");
            $("#Category").attr('checked', true);
        });
    </script>

    <script>
        function Save() {
            var Categorytype = $("#Categorytype").val();
            var CategoryCode = $("#CategoryCode").val();
            var CategoryName = $("#CategoryName").val();
            var MaterialCategoryMasterId = $("#MaterialCategoryMasterId").val();
            var phoneregx = /^[a-zA-Z\s\.]*$/;
            if (CategoryName !== "" && CategoryCode !== "" && Categorytype !== "" && phoneregx.test(CategoryName)) {
                var formData = {
                    Categorytype: Categorytype,
                    CategoryCode: CategoryCode,
                    CategoryName: CategoryName,
                    MaterialCategoryMasterId: MaterialCategoryMasterId
                };

                var url = '/CategoryMaster/MaterialCategoryDetailsInsert';

                $.ajax({
                    type: 'POST',
                    url: url,
                    contentType: 'application/json',
                    dataType: 'html',
                    data: JSON.stringify(formData),
                    success: function (data) {
                        if (data.includes("Success")) {
                            sessionStorage.setItem("showToast", "success");
                            location.href = "/CategoryMaster/CategoryMaster";
                        } else if (data.includes("Updated")) {
                            sessionStorage.setItem("showToast", "updated");
                            location.href = "/CategoryMaster/CategoryMaster";
                        } else if (data.includes("CategoryCodeThere")) {
                            showErrorToast();
                        }
                    }
                });
            }
        }

    </script>

</body>
</html>

