@model MMS.Data.StoredProcedureModel.IssueSlip_SingleModel
@*@model MMS.Web.Models.StockModel.IssueSlip_SingleModel*@
@using MMS.Repository.Managers.StockManager
@using MMS.Core.Entities.Stock
@using MMS.Core.Entities
@{
    ViewBag.Title = "MuplitpleIssue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="content-title">Multiple Issue</h2>
<div class="loader-overlay" style="position:fixed;left:0;right:0;top:0;bottom:0;margin:auto;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index:99;">
    <div id="spinner" style="position:relative;height:64px;width:64px;margin:auto;top:50%;">
        <img src="~/Content/Images/round.gif" id="imgLoading" alt="LoadinZg..." />
    </div>
</div>
<div style="width: 100%; float: left;">
    <div id="tabVehicleWatchList">
        @Html.Action("MultipleIssueGrid", "MultipleIssue",Model)
    </div>
</div>
<script>
    $(window).load(function () {
        $('.loader-overlay').fadeOut('fast');
    });
    $(function () {
        $('.loader-overlay').ajaxStart(function () {
            $(this).fadeIn('slow');
        }).ajaxStop(function () {
            $(this).stop().fadeOut('fast');
        });
    });
</script>
<script>
    
</script>
