@model MMS.Web.Models.SupplierMasterModel.SupplierModel
@{
    ViewBag.Title = "supplierMaster";



    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
}



<div>
    @Html.Action("SupplierMasterGrid", "SupplierMaster")
</div>

<script src="~/Content/js/dropdown.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/Content/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/js/Validation.js"></script>






<script>
    function Save() {
        var SupplierId = $("#SupplierId").val();
        var Account = $("#Account").val();
        var suppliercode = $("#suppliercode").val();
        var Suppliername = $("#Suppliername").val();
        var AccountName = $("#AccountName").val();
        var AccountTypeId = $("#AccountTypeId").val();
        var AccountDescription = $("#AccountDescription").val();
        var Physical1 = $("#Physical1").val();
        var PhysicalCode = $("#PhysicalCode").val();
        var Telephone1 = $("#Telephone1").val();
        var Telephone2 = $("#Telephone2").val();
        var EmailContact = $("#EmailContact").val();
        var EmailAccounts = $("#EmailAccounts").val();
        var EmailEmergency = $("#EmailEmergency").val();
        var VatNumber = $("#VatNumber").val();
        var RegNumber = $("#RegNumber").val();
        var DcBalance = $("#DcBalance").val();
        var CreditLimit = $("#CreditLimit").val();
        var Interest = $("#Interest").val();
        var TaxTypeId = $("#TaxTypeId").val();
        var ForeignCurrency = $("#ForeignCurrency").val();
        var CurrencyID = $("#CurrencyID").val();
        var formdata = new FormData();
        formdata.append("SupplierId", SupplierId);
        formdata.append("Account", Account);
        formdata.append("AccountName", AccountName);
        formdata.append("AccountTypeId", AccountTypeId);
        formdata.append("Suppliername", Suppliername);
        formdata.append("suppliercode", suppliercode);
        formdata.append("AccountDescription", AccountDescription);
        formdata.append("Physical1", Physical1);
        formdata.append("PhysicalCode", PhysicalCode);
        formdata.append("Telephone1", Telephone1);
        formdata.append("Telephone2", Telephone2);
        formdata.append("EmailContact", EmailContact);
        formdata.append("EmailAccounts", EmailAccounts);
        formdata.append("EmailEmergency", EmailEmergency);
        formdata.append("VatNumber", VatNumber);
        formdata.append("RegNumber", RegNumber);
        formdata.append("DcBalance", DcBalance);
        formdata.append("CreditLimit", CreditLimit);
        formdata.append("Interest", Interest);
        formdata.append("TaxTypeId", TaxTypeId);
        formdata.append("ForeignCurrency", ForeignCurrency);
        formdata.append("CurrencyID", CurrencyID);
        var filter = /^[0-9]+(\.[0-9]+)?$/;
        var filter1 = /^[0-9]{6}$/;
        var z1 = /^[0-9]*$/;
        var filter2 = /(?:\(?\+\d{2}\)?\s*)?\d+(?:[ -]*\d+)*$/;
        var phoneregx = /^[a-zA-Z\s\.]*$/;
        var addressRegx = /^[a-zA-Z\s\/]*$/;
        var email = /^(([^<>()[\]\\.,;:\s"]+(\.[^<>()[\]\\.,;:\s"]+)*)|.(".+"))((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (Account != "" && CurrencyID != "" && ForeignCurrency != "" && TaxTypeId != "" && Interest != ""
            && CreditLimit != "" && DcBalance != "" && RegNumber != "" && VatNumber != ""
            && EmailEmergency != "" && EmailAccounts != "" && EmailContact != "" && Telephone2 != "" && AccountTypeId != "" && Telephone1 != ""
            && PhysicalCode != "" && Physical1 != "" && AccountDescription != "" && suppliercode != "" && Suppliername != "" && AccountName != "" &&
            filter.test(DcBalance) && filter.test(CreditLimit) && filter.test(Interest) && filter1.test(PhysicalCode) && filter2.test(Telephone2) && filter2.test(Telephone2) &&
            email.test(EmailEmergency) && email.test(EmailAccounts) && email.test(EmailContact) && phoneregx.test(Suppliername) &&
            addressRegx.test(Physical1)) {
            if (Physical1.length < 100 && z1.test(Account) && phoneregx.test(AccountName)) {
                if (SupplierId == "0") {
                    $.ajax({
                        type: 'POST',
                        url: '/SupplierMaster/SupplierMaster',
                        contentType: false,
                        contentType: false,
                        processData: false,
                        dataType: 'html',
                        data: formdata,
                        success: function (data) {
                            var value = JSON.parse(data);
                            if (value == "Saved") {
                                sessionStorage.setItem("showToast", "success");
                                window.location.href = "/SupplierMaster/SupplierMaster";
                                return false;
                            }
                            else if (value == "Suppliercode") {
                                showErrorToast();
                            }
                        }

                    });
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '/SupplierMaster/SupplierMaster',
                        contentType: false,
                        contentType: false,
                        processData: false,
                        dataType: 'html',
                        data: formdata,
                        success: function (data) {
                            var value = JSON.parse(data);
                            if (value == "Updated") {
                                sessionStorage.setItem("showToast", "updated");
                                window.location.href = "/SupplierMaster/SupplierMaster";
                                return false;
                            }
                            else if (value == "Suppliercode") {
                                showErrorToast();
                            }
                        }
                    });
                }
            }
        }
    }

</script>