@model MMS.Web.Models.GRNTypeMasterModel.GRNTypeMasterModel
@{
    int id = Model.GrnTypeMasterId;
    Session["GrnTypeMasterId"] = id;
}
<script>
    $(document).ajaxStart(function () {
        $(".loader-overlay").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $(".loader-overlay").css("display", "none");
    });
    $(window).load(function () {
        $('.loader-overlay').fadeOut('fast');
    });
    $(function () {
        if ($('#GRNCode').val() == "") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetIssueId", "GRNType")', // we are calling json method
                dataType: 'json',
                data: { id: $(this).val() }, // here we are get value of selected country and passing same value   as inputto json method GetStates.
                success: function (states) {
                    $("#GRNCode").val(states)
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
        }

    });
</script>

<div class="right-form-section clearfix">
    <form role="form" class="form-inline">
        <div class="container-fluid">
            <div style="margin-top: 20px;" class="row">
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 no-padding"></div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 no-padding">
                    <div class="field-section">
                        <div class="form-group">
                            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
                                <label class="form-label" for="text">GRN Code</label>
                            </div>
                            <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">
                                @Html.TextBoxFor(m => m.GRNCode, new { @class = "form-control text-field",@readonly="true" })
                            </div>
                        </div>
                    </div>
                    <div class="field-section">
                        <div class="form-group">
                            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
                                <label class="form-label" for="text">IssueType</label>
                            </div>
                            <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">
                                @Html.HiddenFor(x => x.GrnTypeMasterId)
                                @Html.TextBoxFor(m => m.IssueType, new { @class = "form-control text-field" })
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>

        <div class="form-footer">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 text-center">
                    <input type="button" onclick="Cancel()" class="btn btn-default btn-style" title="Back" value="Back">
                    @if (Model != null && Model.GrnTypeMasterId != 0)
                    {

                        <input type="button" onclick="Update()" class="btn btn-default btn-style" id="GrnTypeMasterId" title="Update" value="Update">
                    }
                    else
                    {
                        <input type="button" onclick="Save()" class="btn btn-default btn-style" title="Save" value="Save">
                    }
                </div>
            </div>
        </div>

    </form>
</div>

