@{
    ViewBag.Title = "FinishedGoodMaster";

    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    
}
<script src="~/Content/js/jquery-3.6.0.min.js"></script>
<script>

    // Use jQuery(function($) { ... }) for document ready functions
    jQuery(function ($) {
        $(document).ajaxStart(function () {
            $(".loader-overlay").css("display", "block");
        });

        $(document).ajaxComplete(function () {
            $(".loader-overlay").css("display", "none");
        });

        $(window).on('load', function () {
            $('.loader-overlay').fadeOut('fast');
        });

        $("#EditColorPartial").hide();

        // Example usage of .load() - replace with your actual usage
        $('#targetElement').load('ajax/test.html', function (response, status, xhr) {
            if (status == "error") {
                console.log("Error loading content: " + xhr.status + " " + xhr.statusText);
            }
        });
    });


</script>

<div style="width: 100%; float: left;">
    @*<div class="loader-overlay" style="position:fixed;left:0;right:0;top:0;bottom:0;margin:auto;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index:99;">
            <div id="spinner" style="position:relative;height:64px;width:64px;margin:auto;top:50%;">
                <img src="~/Content/Images/round.gif" id="imgLoading" alt="Loading..." />
            </div>
        </div>*@
    <div id="tabVehicleWatchList">
        @Html.Action("FinishedGoodGrid", "FinishedGoodReport")
    </div>
</div>



<script src="~/Content/js/custom.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="~/Content/js/bootstrap.bundle.min.js"></script>