@{
    ViewBag.Title = "Indent";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/FormStyle.css" rel="stylesheet" />

}
<style>

</style>
<h2 class="content-title">Indent</h2>
<div style="width: 100%; float: left;">
    <div class="loader-overlay" style="position:fixed;left:0;right:0;top:0;bottom:0;margin:auto;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index:99;">
        <div id="spinner" style="position:relative;height:64px;width:64px;margin:auto;top:50%;">
            <img src="~/Content/Images/round.gif" id="imgLoading" alt="Loading..." />
        </div>
    </div>
    <div id="tabVehicleWatchList">
        @Html.Action("IndentGrid", "Indent")
    </div>
</div>

<script>
    $(document).ajaxStart(function () {
        $(".loader-overlay").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $(".loader-overlay").css("display", "none");
    });
    $(window).load(function () {
        $('.loader-overlay').fadeOut('fast');
    });
    $(document).ready(function () {
        $("#EditColorPartial").hide();
    });

    function validation() {
        if ($('#AmmendmentDate').val() == "") {
            alert("Please Enter Ammendment Date.")
            $('#AmmendmentDate').css('border-color', 'red');
            $('#AmmendmentDate').focus();
            return false;
        }
        else {
            $('#AmmendmentDate').css('border-color', '');
        }
        if ($('#IndentType').val() == "") {
            alert("Please Select Indent Type.")
            $('#IndentType').css('border-color', 'red');
            $('#IndentType').focus();
            return false;
        }
        else {
            $('#IndentType').css('border-color', '');
        }
        if ($('#IndentNo').val() == "") {
            alert("Please Enter Indent No.")
            $('#IndentNo').css('border-color', 'red');
            $('#IndentNo').focus();
            return false;
        }
        else {
            $('#IndentNo').css('border-color', '');
        }
        if ($('#Indendingfor option:selected').text() == "ORDER") {
            if ($('#IoNo').val() == "") {
                alert("Please Enter Io No.")
                $('#IoNo').css('border-color', 'red');
                $('#IoNo').focus();
                return false;
            }
            else {
                $('#IoNo').css('border-color', '');
            }
        }
        if ($("#UnitId :selected").val() == "") {
            alert("Please Select UnitId.")
            $('#UnitId').css('border-color', 'red');
            $('#UnitId').focus();
            return false;
        }
        else {
            $('#UnitId').css('border-color', '');
        }

        if ($('#Indendingfor').val() == "") {
            alert("Please Enter Indent For.")
            $('#Indendingfor').css('border-color', 'red');
            $('#Indendingfor').focus();
            return false;
        }
        else {
            $('#Indendingfor').css('border-color', '');
        }

       

        if ($('#Date').val() == "") {
            alert("Please Select Date.")
            $('#Date').css('border-color', 'red');
            $('#Date').focus();
            return false;
        }
        else {
            $('#Date').css('border-color', '');
        }
        if ($('#MRPNO').val() == "" || $('#MRPNO').val() == 0)
        {
            if ($('#MaterialCatId').val() == "") {
                alert("Please Select Material Category.")
                $('#MaterialCatId').css('border-color', 'red');
                $('#MaterialCatId').focus();
                return false;
            }
            else {
                $('#MaterialCatId').css('border-color', '');
            }
            if ($('#SeasonId').val() == "") {
                alert("Please Select Season.")
                $('#SeasonId').css('border-color', 'red');
                $('#SeasonId').focus();
                return false;
            }
            else {
                $('#SeasonId').css('border-color', '');
            }

            if ($('#MaterialGrpId').val() == "") {
                alert("Please Select Material Group.")
                $('#MaterialGrpId').css('border-color', 'red');
                $('#MaterialGrpId').focus();
                return false;
            }
            else {
                $('#MaterialGrpId').css('border-color', '');
            }

            if ($('#MaterialName').val() == '0') {
                alert("Please select material name.")
                $('#MaterialName').css('border-color', 'red');
                $('#MaterialName').focus();
                return false;
            }
            else {
                $('#MaterialName').css('border-color', '');
            }

            if ($('#UOMId').val() == "") {
                alert("Please Select UOM.")
                $('#UOMId').css('border-color', 'red');
                $('#UOMId').focus();
                return false;
            }
            else {
                $('#UOMId').css('border-color', '');
            }

            if ($('#ReqQty').val() == "") {
                alert("Please Enter Required Qty.")
                $('#ReqQty').css('border-color', 'red');
                $('#ReqQty').focus();
                return false;
            }
            else {
                $('#ReqQty').css('border-color', '');
            }

            if ($('#StoreStock').val() == "") {
                alert("Please Enter Store Stock.")
                $('#StoreStock').css('border-color', 'red');
                $('#StoreStock').focus();
                return false;
            }
            else {
                $('#StoreStock').css('border-color', '');
            }

            if ($('#MaterialId').val() == "") {
                alert("Please Select Material.")
                $('#MaterialId').css('border-color', 'red');
                $('#MaterialId').focus();
                return false;
            }
            else {
                $('#MaterialId').css('border-color', '');
            }

            if ($('#Rate').val() == "") {
                alert("Please Enter Rate.")
                $('#Rate').css('border-color', 'red');
                $('#Rate').focus();
                return false;
            }
            else {
                $('#Rate').css('border-color', '');
            }

            if ($('#IntendQty').val() == "") {
                alert("Please Enter Intend Qty.")
                $('#IntendQty').css('border-color', 'red');
                $('#IntendQty').focus();
                return false;
            }
            else {
                $('#IntendQty').css('border-color', '');
            }

            if ($('#FreeStock').val() == "") {
                alert("Please Enter Free Stock.")
                $('#FreeStock').css('border-color', 'red');
                $('#FreeStock').focus();
                return false;
            }
            else {
                $('#FreeStock').css('border-color', '');
            }

            if ($('#ColourId').val() == "") {
                alert("Please Select Colour.")
                $('#ColourId').css('border-color', 'red');
                $('#ColourId').focus();
                return false;
            }
            else {
                $('#ColourId').css('border-color', '');
            }

            if ($('#Value').val() == "") {
                alert("Please Enter Value.")
                $('#Value').css('border-color', 'red');
                $('#Value').focus();
                return false;
            }
            else {
                $('#Value').css('border-color', '');
            }
        }
       

        
    }
    function Save() {
        



  
      if($('#MRPNO').val() != "" || $('#MRPNO').val() != 0) {
            validation();
            if (validation() != false) {
               
                var forms_ = $("form").serialize();
                console.log(forms_);
                $.ajax({
                    type: 'POST',
                    url: '/Indent/Indent',
                    data: forms_ ,
                  
                    success: function (data) {
                        if (data == true) {
                            if ($("#BtnSave").val() == "Save") {
                                alert('Saved Successfully.');
                                location.href = "/Indent/Indent";
                                return false;
                                $("#ColourId").attr("disabled", true);
                            }
                            else {
                                alert('Updated Successfully.');
                                location.href = "/Indent/Indent";
                                return false;

                                $("#ColourId").attr("disabled", true);
                            }
                            
                            location.href = "/Indent/Indent";
                            return false;
                        }
                        else {
                            alert('Save process Failed.');
                            location.href = "/Indent/Indent";
                            return false;
                        }

                    }
                });
            }
        }

        else {

            var wholeJsonList = [];
            $('#list-amended-material tbody tr').each(function () {
                wholeJsonList.push(
                    {
                        BOMID:$(this).find('.BOMID').html(),
                        IoNo: $(this).find('.IoNo').html(),
                        AmmendmentDate: $(this).find('.AmmendmentDate').html(),
                        MaterialName: $(this).find('.MaterialName').html(),
                        ColourId: $(this).find('.ColourId').html(),
                        UOMId: $(this).find('.UOMId').html(),
                        IntendQty: $(this).find('.IntendQty').html(),
                        Date: $(this).find('.Date').html(),
                        MaterialCatId: $(this).find('.MaterialCatId').html(),
                        MaterialGrpId: $(this).find('.MaterialGrpId').html(),
                        ReqQty: $(this).find('.ReqQty').html(),
                        SupplierId: $(this).find('.SupplierId').html(),
                        Remarks: $(this).find('.Remarks').html(),

                        IndentId: $(this).find('.IndentId').html(),
                        IndentType: $(this).find('.IndentType').html(),
                        UnitId: $(this).find('.UnitId').html(),
                        IndentNo: $(this).find('.IndentNo').html(),
                        Indendingfor: $(this).find('.Indendingfor').html(),
                        SeasonId: $(this).find('.SeasonId').html(),
                        BuyerId: $(this).find('.BuyerId').html(),
                        RequestedBy: $(this).find('.RequestedBy').html(),
                        Rate: $(this).find('.Rate').html(),
                        Value: $(this).find('.Value ').html(),
                        StoreStock: $(this).find('.StoreStock').html(),
                        FreeStock: $(this).find('.FreeStock').html(),
                        PreparedBy: $(this).find('.PreparedBy ').html(),
                        CheckedBy: $(this).find('.CheckedBy').html(),
                        ApprovedBy: $(this).find('.ApprovedBy').html()
                    });
            });

            var wholeJsonListLength = wholeJsonList.length;
            console.log(wholeJsonListLength);
            var i = 0;
            for (i = 0; i <= wholeJsonListLength - 1; i++) {
                $.ajax({
                    type: 'POST',
                    url: '/Indent/Indent',
                    data: wholeJsonList[i],
                    success: function (data) {
                        if (data == true) {
                            if ($('#BtnSave').val() == "Save") {
                                alert("Saved Successfully.");
                                location.href = "/Indent/Indent";
                                return false;
                            }
                            else {
                                alert('Updated Successfully.');
                                location.href = "/Indent/Indent";
                                return false;
                            }
                            location.href = "/Indent/Indent";
                            return false;
                        }
                        else {
                            alert('Save process Failed.');
                            location.href = "/Indent/Indent";
                            return false;
                        }
                    }
                })
            }
        }
  
    }

</script>
