@model MMS.Web.Models.LeatherSize.LeatherTypeModel



<script>

     $(document).ready(function () {
         $(document).ajaxStart(function () {
             $(".loader-overlay").css("display", "block");
         });

         $(document).ajaxComplete(function () {
             $(".loader-overlay").css("display", "none");
         });
         $(window).load(function () {
             $('.loader-overlay').fadeOut('fast');
         });
        $("#EditColorPartial").hide();

    });
    function Save() {
        if ($('#LeatherTypeCode').val() == "") {
            $('#LeatherTypeCode').css('border-color', 'red');
            $('#LeatherTypeCode').focus();
            alert("Please Enter LeatherTypeCode.");
            return false;
        }
        else {
            $('#LeatherTypeCode').css('border-color', '');
        }
        if ($('#LeatherTypeDescription').val() == "") {
            $('#LeatherTypeDescription').css('border-color', 'red');
            $('#LeatherTypeDescription').focus();
            alert("Please Enter LeatherTypeDescription.")
            return false;
        }
        else {
            $('#LeatherTypeDescription').css('border-color', '');
        }


        $.ajax({
            type: 'POST',
            url: '/LeatherType/LeatherType',
            data: {
                LeatherTypeCode: $('#LeatherTypeCode').val(),
                LeatherTypeDescription: $('#LeatherTypeDescription').val(),
                LeatherTypeID: $('#LeatherTypeID').val()
            },
            success: function (data) {
                if (data.UpdatedDate==null) {
                    alert('Saved Successfully.');
                    location.href = "/LeatherType/LeatherType";

                }
                else if(data.UpdatedDate!=null){
                    alert('Updated successfully.');
                    location.href = "/LeatherType/LeatherType";

                }
                else {
                    alert('Save process Failed.');
                    location.href = "/LeatherType/LeatherType";
                    return false;
                }

            },
            error: function (ex) {
                alert('Already Exist in the database.');
            }
        });
    }


</script>
<h2 class="content-title">Leather Type Master</h2>
<div>

    <div class="loader-overlay" style="position:fixed;left:0;right:0;top:0;bottom:0;margin:auto;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index:99;">
        <div id="spinner" style="position:relative;height:64px;width:64px;margin:auto;top:50%;">
            <img src="~/Content/Images/round.gif" id="imgLoading" alt="Loading..." />
        </div>
    </div>
    <div id="tabVehicleWatchList">
        @Html.Action("LeatherTypeGrid", "LeatherType")
    </div>
</div>

