@media screen and (max-width: 1200px){
    .jobwork_mrp_check form {
    justify-content: unset;
    }
    .material-footr-btn.init_action .meadow-btn {
        margin-bottom: 15px;
        margin-top: 15px;
    }
	tfoot.common-table-head {
    width: 100%;
    float: left;
}
}
/*dashboard_home*/
@media only screen and (min-width:320px) and (max-width:767px)
{
    .header_body_cent {
        flex-direction: column;
        align-self: center;
        align-items: center;
    }
    .action-icons img {
        margin: 0px;
    }
    .select.filter-sec{
        width: 100%;
    }
    .mbl-pad-0{
        padding: 0px;
    }
   
    .add-comp-material{
        display: block;
    }
    .norms_forms label{
        white-space: pre-wrap;
    }
    .norms_forms .select_percent {
        padding: 0;
        margin-bottom: 15px;
    }
    .col-md-2.init_action.search-btn {
        margin-top: 10px;
    }
    .jobworker-tab ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .jobworker-tab ul li{
        margin-bottom: 10px;
        margin-left: 0px;
    }
	/*QA*/
	.input-blk {
    padding: 0px;
}

}
@media only screen and (min-width:768) and (max-width:991px){
    .col-md-2.init_action.search-btn {
        margin-top: 10px;
    }
}
@media screen and (min-width: 768px) {
/*order sheet pairs 2*/
.input-blk.mateial-select select{
    width: 100%;
    background-position: 98%;
}
init_action.material-footr-btn {
    padding: 0px 0px;
}
label{
    white-space: nowrap;
}
}
@media only screen and (min-width:1366px) and (max-width:1400px){
    .norms_forms label{
        font-size: 12px;
        white-space: pre-wrap;
    }

   .norms_forms input,.norms_forms select{
    height: 35px;
    }
}
@media only screen and (min-width:1200px) and (max-width:1300px){
.input_group_items.overflow {
    width: 100%!important;
}
.input_flex.flex_second.adjusant {
    width: 90px;
}
.input_flex.flex_second.adjusant {
    width: 47%;
}
.input_flex.flex_second.adjusant {
    width: 18%!important;
}
.input_full.adjusant_totalcal {
    width: 39%!important;
}
}

/*order sheet pairs 2*/

/*dashboard_home*/
@media only screen and (min-width:320px) and (max-width:767px)
{
    .header_body_cent {
        flex-direction: column;
        align-self: center;
        align-items: center;
    }
    .action-icons img {
        margin: 0px;
    }
}


@media only screen and (min-width:320px) and (max-width:576px)
{
  .block-section .init_action.cntl_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sheet_pair .title {
    width: 100px;
}
.form-group.flex_section {
    flex-direction: column;
}
.form-group.flex_section input.form-control.one {
    width: 100%!important;
	    margin-bottom: 5px;
}
.unit_convert select.form-control.filter-sec {
    width: 100%!important;
	    margin-bottom: 5px;
}
.header_list_tab {
    padding: 0px;
}	
div#mCSB_2_container div:nth-child(3) {
    padding: 0px;
}
.center_padding_none {
    padding: 15px!important;
}
 
select.form-control.filter-sec.modify {
    background-position: 83%;
}
.block-section .init_action.cntl_btn button{margin:4px;}
 label.white_space {
    white-space: inherit;
}
}

@media only screen and (min-width:576px) and (max-width:992px)
{
select.form-control.filter-sec.modify {
    background-position: 90%;
}
.title {
    margin-left: 8px;
}	
}

@media only screen and (min-width:993px) and (max-width:1200px)
{
select.form-control.filter-sec.modify {
    background-position: 87%;
}	
}
@media only screen and (min-width:320px) and (max-width:992px)
{
 .Home_Jobworker_Master .nav-tabs {width: 96%;margin: auto;}
.Home_Jobworker_Master .nav-tabs>li {float: none;width:100%;margin-top: 5px;}
.form-group.flex_section input.form-control.one {width: 39px;}
.form-group.form_input_group.input_select .input_inner input {max-width: 50%;}
.form-group.form_input_group.input_select .input_inner select {max-width: 50%;}
.Home_Jobworker_Master .title {border-radius:8px;}
.input_left div {padding: 0px;    width: 100%;}
 .jw_issue_btn button{
        margin-bottom: 20px;
		    width: 180px!important;
    }
	.jobwork_mrp,
.jobwork_mrp_2	{
    padding: 0px;
}
.jobwork_mrp_tbl {
    padding: 0px;
}
.jobwork_leather2 .quantity-filter .col-sm-6 {
    padding-left: 0px;
    padding-right: 0px;
}
.jobwork_edit .title:before,
.bom_jobwork .title:before,
.Tranactions_0 .title:before
{display:none!important;}
.jobwork_edit .title:after,
.Tranactions_0 .title:after,
{display:none!important;}
.jobwork_edit .title.active:after ,
.bom_jobwork .title.active:after ,
.Tranactions_0 .title.active:after 
{display:none!important;}
 .jobwork_edit .title.active:before ,
 .bom_jobwork .title.active:before ,
 .Tranactions_0 .title.active:before 
 {display:none!important;}
.jobwork_edit .title.active,
.bom_jobwork .title.active,
.Tranactions_0 .title.active
{margin-left:0px !important;}
.jobwork_edit .title,
.bom_jobwork .title,
.Tranactions_0 .title
{margin-left:0px !important;}
.jobwork_edit .hidden_div ,
.bom_jobwork .hidden_div ,
.Tranactions_0 .hidden_div 
{display: none;}
.jw_issues_2.jobwork_mrp_tbl {padding: 0px;}
}



@media only screen and (min-width:992px) and (max-width:1200px)
{
.Home_Jobworker_Master .title {min-width: 110px;}
.Home_Jobworker_Master .title.active {min-width: 110px;}
.Home_Jobworker_Master .nav-tabs>li>a {font-size: 11px;}
.Home_Jobworker_Master .form_input_group label {font-size: 12px;height: 27px;}
}
@media only screen and (min-width:320px) and (max-width:567px)
{
 .Home_Jobworker_Master .tab-content .form_input_group.check_mart .check_grp {flex-direction: column;}
.Home_Jobworker_Master .tab-content .form_input_group.check_mart .check_grp div:nth-child(2) {position: initial;}
}

@media only screen and (min-width: 992px)
{
select.form-control.filter-sec.expanded {background: url("../images/arrow_down.png") no-repeat 97% #ffffff;}

}

/*dashboard_home*/
@media only screen and (min-width:320px) and (max-width:767px)
{
    .header_body_cent {
        flex-direction: column;
        align-self: center;
        align-items: center;
    }
    .action-icons img {
        margin: 0px;
    }
	.init_action.sheet-pairs {
    margin-top: 30px;
    justify-content: center;
    display: grid;
}
.checkbox-option.sheet-pairs {
    justify-content: center;
}
}


@media only screen and (min-width:320px) and (max-width:576px)
{
  .block-section .init_action.cntl_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_list_tab {
    padding: 0px;
}	
/* div#mCSB_2_container div:nth-child(3) { */
    /* padding: 0px; */
/* } */
select.form-control.filter-sec.modify {
    background-position: 83%;
}
.block-section .init_action.cntl_btn button{margin:4px;}
 label.white_space {
    white-space: inherit;
}
}

@media only screen and (min-width:578px) and (max-width:992px)
{
select.form-control.filter-sec.modify {
    background-position: 90%;
}	
}

@media only screen and (min-width:993px) and (max-width:1200px)
{
select.form-control.filter-sec.modify {
    background-position: 87%;
}	
}
@media only screen and (min-width:320px) and (max-width:992px)
{
 .Home_Jobworker_Master .nav-tabs {width: 96%;margin: auto;}
.Home_Jobworker_Master .nav-tabs>li {float: none;width:100%;margin-top: 5px;}
.form-group.flex_section input.form-control.one {width: 39px;}
.form-group.form_input_group.input_select .input_inner input {max-width: 50%;}
.form-group.form_input_group.input_select .input_inner select {max-width: 50%;}
.Home_Jobworker_Master .title {border-radius:8px;}
.input_left div {padding: 0px;    width: 100%;}
.Home_Jobworker_Master .title:before{display:none;!important}
.Home_Jobworker_Master .title:after{display:none;!important}
.Home_Jobworker_Master .title.active:after {display:none!important;}
.Home_Jobworker_Master .title.active:before {display:none!important;}
.Home_Jobworker_Master .title.active{margin-left:0px;}
.Home_Jobworker_Master .title{margin-left:0px;}
.hidden_div {display: none;}
.mob_padding {padding: 0px;}
}
@media only screen and (min-width:992px) and (max-width:1200px)
{
.Home_Jobworker_Master .title {min-width: 110px;}
.Home_Jobworker_Master .title.active {min-width: 110px;}
.Home_Jobworker_Master .nav-tabs>li>a {font-size: 11px;}
.Home_Jobworker_Master .form_input_group label {font-size: 12px;height: 27px;}
}
@media only screen and (min-width:320px) and (max-width:567px)
{
 .Home_Jobworker_Master .tab-content .form_input_group.check_mart .check_grp {flex-direction: column;}
.Home_Jobworker_Master .tab-content .form_input_group.check_mart .check_grp div:nth-child(2) {position: initial;}
}

@media only screen and (min-width: 992px)
{
select.form-control.filter-sec.expanded {background: url("../images/arrow_down.png") no-repeat 97% #ffffff;}

}