@model MMS.Web.Models.AccountModel.AccountModel



@using (Html.BeginForm("ChangePassword", "Accounts", FormMethod.Post))
{
<div  id="DivAddUserType" class="right-form-section clearfix">
    @Html.Raw(TempData["msg"])
    <form id="FromUser" role="form" class="form-inline">
        <div class="container-fluid">
            @*<div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 no-padding stage_top_sec">
                    <div class="field-section">
                        <div class="form-group">
                            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12 stage_lable_sec">
                                <label class="form-label" for="text">User Name</label>
                            </div>
                            <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">

                                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Enter User Name" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 no-padding stage_top_sec">
                    <div class="field-section">
                        <div class="form-group">
                            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12 stage_lable_sec">
                                <label class="form-label" for="text">password</label>
                            </div>
                            <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">
                                @Html.PasswordFor(m => m.Password, new { @placeholder = "Enter password" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 no-padding stage_top_sec">
                    <div class="field-section">
                        <div class="form-group">
                            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12 stage_lable_sec">
                                <label class="form-label" for="text">Confirm password</label>
                            </div>
                            <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">
                                <input type="password" id="txtConfirmPwd" placeholder="Enter Confirm password" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 no-padding stage_top_sec">
                    <div class="field-section">
                        <div class="form-group">
                            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12 stage_lable_sec">
                                <label class="form-label" for="text"></label>
                            </div>
                            <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">
                                <input type="submit" id="BtnSubmit" value="SUBMIT">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
}
<script>

    $(document).ready(function () {

        $("#BtnSubmit").click(function () {
            if($("#Email").val() == "")
            {
                alert("Please Enter the Email !");
                return false;
            }

            if ($("#Password").val() != $("#txtConfirmPwd").val()) {
                alert("Password and Confirm Pasword are not same !");
                return false;
            }
        });

    });

</script>