@model MMS.Web.Models.AccountModel.AccountModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mid_cont">
    <div class="login-container">
        <div class="login-wrap">
            <div class="login-content">
                <div class="login-heading">
                    <h4>Forgot Your Password?</h4>
                </div>
                <ul>
                    <li>
                        <h3 class="frgt-caption">Enter your Registered E-Mail Id to receive the password.</h3>

                    </li>

                    <li>

                        @Html.TextBoxFor(m => m.Email, new { @class = "login-box frgt-userbox", @placeholder = "E-Mail Id" })
                    </li>

                    <li>
                        <input type="submit" name="Action" id="btnForgotPwd" onclick="return ValidateForgotPassword()" class="forgot-btn send-btn " value="Send">
                        <input type="submit" name="Action" id="btnBack" class="forgot-btn back-btn" value="Back">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="popOverlay" id="ForgotPwd">
        <div class="table_cell">
            <div id="signUpgreat">
                <p>Password has been reset successfully, please check your E-Mail.</p>
                <div class="optionLinks">
                    <a href="@Url.Action("Login", "Account")" onclick="$('#ForgotPwd').fadeOut();$('#txtEmailId').focus();">OK</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="popOverlay" id="ForgotPwd1">
        <div class="table_cell">
            <div id="signUpgreat">
                <p>E-Mail Id does not exist.</p>
                <div class="optionLinks">
                    <a href="javascript:void(0)" onclick="$('#ForgotPwd1').fadeOut();">OK</a>
                </div>
            </div>
        </div>
    </div>
}


