/** external style **/
/** Font_family**/
@font-face {
  font-family: 'NotoSans';
  src: url('..fonts/NotoSans/NotoSans.eot?#iefix') format('embedded-opentype'),
        url('..fonts/NotoSans/NotoSans.woff') format('woff'),
       url('..fonts/NotoSans/NotoSans.ttf')  format('truetype'),
       url('..fonts/NotoSans/NotoSans.svg#NotoSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{background:#f5f7eb;font-family:NotoSans !important;}

/* {
    font-family: 'OpenSans';
}*/

/*.right-form-section {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    width: 1100px;
    margin: 30px 12px;
    padding: 10px;
    float: right;
}*/
.right-form-section {
   /*background: #fcffbe  none repeat scroll 0 0;*/
    background: #f5f7eb none repeat scroll 0 0 !important;
    border: 1px solid #f5f7eb;
    box-shadow: none;
    float: right;
    margin: 0;
    padding: 15px;
    width: 100%;
}

.text-field {
    float: left;
    border: 2px solid #dedede;
    padding: 4px;
    /*     margin-right: 26px; */
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.btn-style {
 
    color: #fff;
    border: 0px;
    padding: 7px 10px;
    border-radius: 3px;
    background: #fbdc68 !important;
    font-weight: bold;
    color: #596065;
}
.btn-style:hover
{
    background:#fbdc68!important;
    color: #596065 !important;
}

.form-footer .btn-style {
    margin: 0 6px;
}

.form-label {
    float: left;
    font-size: 12px;
    /* line-height: 32px; */
    color: #71706b;
    font-weight: bold;
    /* width:200px; */
    padding-top: 2px;
}

.no-padding {
    padding: 0px;
}

.field-section {
    margin: 10px 0px;
    float: left;
    width: 100%;
}

table {
    margin-bottom: 0px !important;
}

    /*table thead {
        background: #17BAB8;
        color: #fff;
    }*/
    /*table thead {
    background: #979dd3 none repeat scroll 0 0;
    color: #fff;
}*/

    table td {
        text-align: center;
        border: 1px solid #e9e8db;
    }

.form-inline .form-control {
    width: 100%;
}

.width-78 {
    width: 78px;
}


/** custome checkbox **/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        line-height: 24px;
        padding-right: 10px;
    }

        /* checkbox aspect */
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 2px;
            width: 20px;
            height: 20px;
            border: 1px solid #06a8e8;
            background: #f8f8f8;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }
        /* checked mark aspect */
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
            content: '✔';
            position: absolute;
            top: 5px;
            left: 3px;
            font-size: 18px;
            line-height: 0.8;
            color: #06a8e8;
            transition: all .2s;
        }
        /* checked mark aspect changes */
        [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
        }

        [type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(1);
        }
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
    border: 1px solid #4778d9 !important;
}

label {
    font-weight: normal;
}
/** cutome checkboxe end **/

.size-range-table td {
    line-height: 13px !important;
}

.section-title {
    color: #0c7690;
    font-size: 20px;
}

.form-footer {
    float: left;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-top: 10px;
}

a, a:focus {
    outline: none !important;
}

.left-new li select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-style {
    width: 100%;
    color: #8a8c8c;
    background: #fff url("../images/select-down-arrow.png") no-repeat;
    background-position: 96% center;
}


::-webkit-input-placeholder {
    color: #8a8c8c !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #8a8c8c !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #8a8c8c !important;
}

:-ms-input-placeholder {
    color: #8a8c8c !important;
}

.form-group {
    width: 100%;
}

.padding-right-20 {
    padding-right: 20px;
}

.percent {
    float: left;
    line-height: 32px;
    padding: 0 3px;
}

.width-80-per {
    width: 80%;
}

.table-td-padding tbody td {
    height: 38px !important;
}

.orange-lable {
    color: #fc4f1a;
    font-size: 14px;
}

.table-scroll {
    height: 148px;
}
/** 34-03-2016 **/
.parent-table-height {
    height: 295px;
}

.orange-text-field {
    border-right: 0;
    border-left: 0px;
    border-top: 0;
    border-bottom: 1px solid #fc4f1a;
    width: 100px;
    float: left;
    margin: 0px 2px;
    color: #fc4f1a;
}

.field-section label {
    height: auto;
}

.field-section {
    margin: 2px 0px;
}

.padding-lr-6px td {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.footer-bg-gray {
    background-color: #b5b5b5;
}

.table-row-bg tbody tr:nth-of-type(2n+1) {
    background: #e5e7e7;
}



/*******************Stage master start here*********************/
.stage_top_sec {
    width: 50% !important;
}

.stage_lable_sec {
    width: 30% !important;
}

.stage_table_sec {
    margin-top: 20px;
}

.center_align label {
    height: 15px;
}

.stage_table_sec tr:nth-child(even) td {
    background-color: #e5e7e7;
}

.btn_sec {
    margin: 20px 0px;
}

.clear_color {
    background: #e59407;
}

.edit_color {
    background: #3da356;
}

.save_color {
    background: #06a8e8;
}

.close_color {
    background: #e74c02;
}

/*******************Stage master end here*********************/

/*******************Indent Start here*********************/
.red_sec {
    border: 1px solid #fc4f1a;
    margin-right: 10% !important;
    width:63% !important;
}
.red_sec2 {
    margin-right: 10% !important;
    width: 26% !important;
}

.left_box {
    margin-right: 0 !important;
}

.btn-import {
    background: #06a8e8;
    color: #fff;
    margin-top: 30px;
}

.pad {
    padding: 0px;
}

.mapping_sec {
    padding-left: 0px;
    margin-top: 15px;
}

    .mapping_sec li {
        background-color: #c4c5c7;
        color: #fff;
        font-size: 14px;
        text-align: center;
        padding: 3px;
        margin-bottom: 10px;
        cursor: pointer;
        list-style-type: none;
    }

.pad_right {
    padding-right: 0px;
}

.pad_left {
    padding-left: 0px;
}

/*****Indent end here*******/


/*****Goods Receipt Note start here*******/
.no-padding p {
    border-bottom: 1px solid #0c7690;
    color: #0c7690;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
}

.date_time {
    border: 2px solid #dedede;
    margin-right: 10% !important;
    width: 45% !important;
}

.left_box {
    margin-right: 0 !important;
}

.heading_sec {
    margin: 0 15px 10px;
}

.pad_right_sec {
    padding: 0 6px;
}

.floatting_sec {
    text-align: right;
}

.list_sec li {
    list-style-type: none;
    margin-top: 0px;
}

.list_sec {
    margin-top: 10px;
    padding-left: 0;
}

.btn-sec {
    background: #06a8e8;
    color: #596065;
    margin-top: 0px;
}

/*****Goods Receipt Note End here*******/

/*****material opening stock start here*******/

.stage_table_sec1 tr:nth-child(even) td {
    background-color: #e5e7e7;
}

.tab_sec {
    padding: 0 20px !important;
}
/*****material opening stock End here*******/


/**prabakaran 28-03-2016 styles**/
.btn-dis {
    background-color: #06a8e8;
    color: #fff;
}

.des-buyer-title {
    border-bottom: 1px solid #cfcece;
}

.display-buyer-order {
    font-size: 10px;
    margin-left: 5px;
    border: 0px solid !important;
    border-radius: 0px !important;
    padding: 7px 8px;
}

.no-pad {
    padding: 0px;
}

.des-width {
    width: 96%;
}

.margin-field {
    margin-top: 15px;
}

.other-de-button {
    background-color: #e59407;
    border: 1px solid #e59407;
    border-radius: 4px;
    padding: 10px 35px;
    color: #fff;
}

.packing-button {
    background-color: #06a8e8;
    border: none;
    border-radius: 4px;
    padding: 10px 35px;
    color: #fff;
    background: #fbdc68 !important;
    font-weight: bold;
    color: #596065;
}

.ship-button {
    background-color: #3da356;
    border: 1px solid #3da356;
    border-radius: 4px;
    padding: 10px 35px;
    color: #fff;
}

.extr-pad {
    padding: 15px 0px;
}

.bottom-para {
    padding-top: 20px;
    clear: both;
}

.over-all-mar {
    margin-top: 10px;
}

.list-of-products {
    padding-left: 0px;
}

    .list-of-products li {
        list-style-type: none;
    }

.pro-div1 {
    border: 1px solid #ddd;
    padding: 5px;
    width: 98px;
}

.pro-div {
    border: 1px solid #ddd;
    padding: 5px;
}

.cus-text {
    margin-top: 15px;
}

.five_pad {
    padding-left: 0px;
}

.custom-datepicker {
    cursor: pointer;
}

    .custom-datepicker .form-control, .input-group-addon {
        border-radius: 0px !important;
    }

.input-group-addon {
    color: #b7b7b7;
}

.del_botton_border {
    border-bottom: 2px solid #ddd;
}

.sch_add {
    padding: 6px 22px;
    width: 100%;
    margin: 15px 0px;
}

.auto_dis {
    padding: 4px 6px;
    font-size: 12px;
}

.back-color {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
}

.roe-top {
    margin: 20px 0px;
    color: #8E9B2D;
    font-size: 16px;
}

.trop {
    margin-bottom: 20px;
}

.parti-u {
    margin-top: 30px;
}

.parti-u1 {
    margin-top: 15px;
}

.car-color {
    color: #e94451;
}

.dis_all_style_list {
    padding-left: 0px;
}

.listgroup {
    border: 1px solid #ddd;
    padding: 8px;
}

.dis_all_style_list li {
    list-style-type: none;
}

.extra-textarea {
    margin: 25px 0px;
}

.dis_all_style_list label {
    height: 22px;
}

.order-pri label {
    padding: 6px;
    border: 1px solid #06a8e8;
    border-radius: 4px;
}

.rol-color {
    background-color: #f4f4f5;
    padding: 15px;
    margin-bottom: 20px;
}

    .rol-color label {
        margin-bottom: 0px;
        margin-right: 30px;
    }

.dis {
    font-size: 16px !important;
    color: #0b8dc1;
}

.met-re label {
    font-size: 12px;
}

.dis-tot {
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.if-cat {
    color: #8E9B2D;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.fiv-row {
    margin-bottom: 20px;
}

.con-txt {
    color: #8E9B2D;
    font-size: 16px;
    margin-bottom: 15px;
}

/*31-03-2016*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.list-outs {
    padding-left: 0px;
}

    .list-outs li {
        list-style-type: none;
    }


/* vijayakumar 04-04-2016 */
.radio-btn-wrapper {
    margin: 8px 0px;
}

    .radio-btn-wrapper .radio {
        margin-right: 12px;
    }

    .radio-btn-wrapper input[type="radio"] {
        margin-right: 6px;
    }

    .radio-btn-wrapper .radio label {
        height: auto;
    }

.auto-height {
    height: auto !important;
}

.margin-adjust-btn {
    margin: 8px 0px 8px 8px !important;
}
/* vijayakumar 04-04-2016 */


/*prabakaran--- 04-04-2016*/

.inner_table_clas td, tr {
    border: 0px solid !important;
}

.com-head {
    margin: 0px;
}


/*bharath mat_gropu/cat sec--- 05-04-2016*/
.group_cat_list_sec {
    margin-left: 15px;
}

/*bharath origin/manufactures--- 05-04-2016*/
.header_sec {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

/**vijay 05-04-2016**/
.size-table-height {
    height: 113px;
    margin: 12px 0;
}
/**vijay 05-04-2016** /

 /*11-05-2016*/
.new_bot_margin {
    margin-bottom: 18px;
}

.VisibleCheck {
    position: static !important;
}

.content-wrapper {
    /*height: auto !important;*/
}

.mar_bot {
    margin-bottom: 10px;
}

.but_search_styles {
    margin: 10px 0;
    padding: 4px;
    position: absolute;
    right: -7px;
    top: -8px;
}

.mater_listers li {
    border-bottom: 1px solid #ddd;
    display: block;
    list-style-type: none;
    padding: 5PX;
}

.mater_listers {
    padding: 0px;
}


    .mater_listers li:hover {
        background-color: #ddd;
        color: #000;
        outline: none !important;
    }

.back_color {
    background-color: #85888c;
    color: #FFF;
}


.sear_head {
    background-color: #1caf9a;
    color: #fff;
    padding: 11px;
}

    .sear_head .close {
        background-color: #000;
        border: 1px solid #000;
        border-radius: 26px;
        color: #fff;
        height: 25px;
        opacity: 1 !important;
        text-shadow: none !important;
        width: 25px;
    }

.sear_body {
    max-height: 350px;
    overflow: auto;
}

#sortMsg {
    display: none;
}

.ui-button {
    display: none;
}

.ui-autocomplete-input {
    border: 2px solid #dedede !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    float: left !important;
    padding: 4px !important;
    width: 100%;
}

.lefterr_icon {
    cursor: pointer;
    left: -3px;
    position: absolute;
    top: 0;
    z-index: 9999;
}

.direction {
    background-color: #f6d657;
    color: #333;
    font-size: 18px;
    font-weight: normal;
    padding: 0 8px;
}

.toggle {
    transform: rotate(180deg);
    transition: transform 0.3s ease 0s;
}
/*All Form Background Color and menu*/
.left-side-bar {
    background: #8E9B2D;
    float: left;
    overflow: auto;
    width: 250px;
}

.all_form {
    background-color: #f5f7eb !important;
}
.left-side-bar li {
    background: #8E9B2D !important;
}

.cd-accordion-menu label, .cd-accordion-menu a {
    background: #32549e !important;
}
h2.content-title {
   background-color: #f5f7eb;
    color: background;
    margin: 0px 3px -12px;
    padding:5px 10px!important;
}
.veh-tablecont {
    margin: 16px -50px 79px !important;
}
/*All Form Background Color and menu*/


.color-code-top-btn input[type="text"], .edit-popup-field input[type="text"] {
    border: 1px solid #5F6819 !important;
    border-radius: 3px;
    padding: 8px;
}
.color-code-top-btn input[type="button"], .popup-footer input[type="button"] {
    background: #fbdc68 !important;
    border: 0 none;
    border-radius: 3px;
    color: #596065;
    cursor: pointer;
    font-family: NotoSans;
    font-size: 18px;
    margin: 0 0 0 20px;
    font-weight:bold;
    padding: 5px;
    width: 100px;
}
table thead {
    background: #596065 none repeat scroll 0 0;
    color: #fff;
    /*! border-radius: 8px; */
}
/*table.veh-table {
    border-radius: 8px;
    border-top: 6px solid #0f8aba !important;
    box-shadow: 0 2px 5px #ccc;
    margin: 0 auto;
    padding: 10px;
    width: 90%;
}*/
table.veh-table {
    border-radius: 8px;
    border-top: 6px solid #596065 !important;
    box-shadow: 0 2px 5px #ccc;
    margin: 0 auto;
    padding: 10px;
    width: 90%;
}

/*table.veh-table thead th {
    background: #fcffbe !important;
    border-right: 1px solid #fff;
    color: #fff;
    line-height: 45px;
}*/
table.veh-table thead th {
    background: #fbdc68 none repeat scroll 0 0 !important;
    border-right: 1px solid #e9e8db;
    color: #44443e;
    line-height: 45px;
}
tr:nth-child(even) {
    background: #fefbec!important;
}
/*sriRam */
.frm-edit{height:30px!important;}
.border-adjust{margin-top:5px!important;margin-bottom:5px!important;}
.text-desc p{padding-bottom: 5px !important;margin: 0;border: none;font-size: 12px;}
.bottom-para-change{padding-top:5px!important;}
.form-footer-change{padding-top:5px!important;margin-top:5px!important;}
.frm-change{width:50px!important;}
.des-change,.margin-btm-change{margin-bottom:5px!important;}
.table-change{height:100px!important;}
.margin-field-change{margin-top:5px!important;}
.righterr_icon {cursor: pointer;right: 20px;position: absolute;top: 54px; z-index: 9999;}
.direction-right{padding: 0 8px;width:12px;height:12px;position:relative;}
.direction-right img{position:absolute;left:0;right:0;top:0;bottom:0;max-height:100%;max-width:100%;margin:auto;}
.arrow-change li{width:25px!important;display:inline-block!important;margin-bottom:5px!important;}
.arrow-change {margin-top:10px!important;margin:auto;width:60px;}
.margin-table-change {
    margin-top:5px;
}
/*sriRam */

.hidden {display:none;}
.ad-but:hover{text-decoration:none;}
.ad-but{background: #fbdc68 !important;
border: 0 none;
border-radius: 3px;
color: #596065;
cursor: pointer;
font-family: open sans;
font-size: 18px;
margin: 0 0 0 20px;
font-weight: bold;
padding: 5px 20px;}
.material_select .custom-combobox,.supplier_name .custom-combobox{
    width: 96%;
    margin-left: -13px;
}
.remarks_text_area{
    margin-left:-13px;
}
.uom_qut_sec input {
    margin-left: 4px;
    width: 78px !important;
    float: left;
}