@model MMS.Web.Models.OperationMasterModel.OperationMasterModel
@using MMS.Repository.Managers
@using MMS.Core.Entities
@{

}
<div class="header_list_tab  col-lg-12 col-md-12 col-sm-12  col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 no-padding">
        <div class="list_tab">
            <div class="title">
                Detail
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12  col-xs-12">
        <div class="button_tab  col-lg-12 col-md-12 col-sm-12 col-12 no-padding">
        </div>
    </div>
</div>

<div class="home_process_edit col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-section input_list_group">
        <div class="input_left col-lg-11 col-md-11 col-sm-12 no-padding">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form_input_group">
                    <div class="form-group">
                        <label for="usr">Operation Code</label>
                        @Html.HiddenFor(x => x.OperationMasterId)
                        @Html.TextBoxFor(m => m.OperationTypeCode, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="form_input_group">
                    <div class="form-group">
                        <label for="usr">Operation Name</label>
                        @Html.TextBoxFor(m => m.OperationName, new { @class = "form-control " })
                    </div>
                </div>
            </div>
            <div class="input_empty col-lg-1 col-md-1 col-sm-12">

            </div>

        </div>
        <div class="init_action cntl_btn col-lg-12 col-md-12 col-sm-12">
            @if (Model != null && Model.OperationMasterId != 0)
            {
                <button class="btn green-btn" onclick="UpdateOperation()">Update</button>
            }
            else
            {
                <button class="btn green-btn " onclick="Save()">Save</button>
            }
            <button class="btn green-grey" onclick="Back()">Back</button>
        </div>
    </div>


</div>
@*<script>
    $(document).ajaxStart(function () {
        $(".loader-overlay").css("display", "block");
    });

    $(document).ajaxComplete(function () {
        $(".loader-overlay").css("display", "none");
    });
    $(window).load(function () {
        $('.loader-overlay').fadeOut('fast');
    });

</script>*@