@{
    ViewBag.Title = "BuyerMater";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/FormStyle.css" rel="stylesheet" />
}

<script>
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $(".loader-overlay").css("display", "block");
        });

        $(document).ajaxComplete(function () {
            $(".loader-overlay").css("display", "none");
        });
        $(window).load(function () {
            $('.loader-overlay').fadeOut('fast');
        });
        $('#Nextbtn').show();
        $('#Childtbl').hide();
        $('#Parenttbl').show();
        $('#save_Updatebtn').hide();
    });
    $("#Nextbtn").change(function () {

        $('#Nextbtn').hide();
        $('#Childtbl').show();
        $('#Parenttbl').hide();
        $('#save_Updatebtn').show();

    });
    $("#Back").change(function () {

        $('#Nextbtn').show();
        $('#Childtbl').hide();
        $('#Parenttbl').show();
        $('#save_Updatebtn').hide();

    });
     
    $(document).ready(function () {
        $("#EditColorPartial").hide();

    });
    function ValidationForSaveAndupdate() {
        if ($('#BuyerCode').val() == "") {
            alert("Please Enter Buyer Code.")
            $('#BuyerCode').css('border-color', 'red');
            $('#BuyerCode').focus();
            return false;
        }
        else {
            $('#BuyerCode').css('border-color', '');
            $('#BuyerCode').focus();
        }
        if ($('#BuyerFullName').val() == "") {
            alert("Please EnterBuyer Full Name.")
            $('#BuyerFullName').css('border-color', 'red');
            $('#BuyerFullName').focus();
            return false;
        }
        else {
            $('#BuyerFullName').css('border-color', '');
            $('#BuyerCode').focus();
        }
        if ($('#BuyerShortName').val() == "") {
            alert("Please Enter Buyer Short Name.")
            $('#BuyerShortName').css('border-color', 'red');
            $('#BuyerShortName').focus();
            return false;
        }
        else {
            $('#BuyerShortName').css('border-color', '');
            $('#BuyerShortName').focus();
        }
        if ($('#Currency').val() == "") {
            alert("Please Enter Buyer Currency.")
            $('#Currency').css('border-color', 'red');
            $('#Currency').focus();
            return false;
        }
        else {
            $('#Currency').css('border-color', '');
            $('#Currency').focus();
        }


        if ($('#BuyerAddress1').val() == "") {
            alert("Please Enter Buyer Address1.")
            $('#BuyerAddress1').css('border-color', 'red');
            $('#BuyerAddress1').focus();
            return false;
        }
        else {
            $('#BuyerAddress1').css('border-color', '');
            $('#BuyerAddress1').focus();
        }

        if ($('#BuyerAddress2').val() == "") {
            alert("Please Enter Buyer Address2.")
            $('#BuyerAddress2').css('border-color', 'red');
            $('#BuyerAddress2').focus();
            return false;
        }
        else {
            $('#BuyerAddress2').css('border-color', '');
            $('#BuyerAddress2').focus();
        }
        if ($('#BuyerPincode').val() == "") {
            alert("Please Enter Buyer Pincode.")
            $('#BuyerPincode').css('border-color', 'red');
            $('#BuyerPincode').focus();
            return false;
        }
        else {
            $('#BuyerPincode').css('border-color', '');
            $('#BuyerPincode').focus();
        }

        if ($('#Country').val() == "") {
            alert("Please Enter Buyer Country.")
            $('#Country').css('border-color', 'red');
            $('#Country').focus();
            return false;
        }
        else {
            $('#Country').css('border-color', '');
            $('#Country').focus();
        }
        if ($('#ContactPersion').val() == "") {
            alert("Please Enter Contact Persion.")
            $('#ContactPersion').css('border-color', 'red');
            $('#ContactPersion').focus();
            return false;
        }
        else {
            $('#ContactPersion').css('border-color', '');
            $('#ContactPersion').focus();
        }
        if ($('#Designation').val() == "") {
            alert("Please Enter Designation.")
            $('#Designation').css('border-color', 'red');
            $('#Designation').focus();
            return false;
        }
        else {
            $('#Designation').css('border-color', '');
            $('#Designation').focus();
        }

        var phoneText = $("#ContactNoo").val();
        if ($("#ContactNoo").val() == "0" || $("#ContactNoo").val() == "") {
            alert("Please enter Mobile Number");
            return false;
        }

       

        if ($('#EmailID').val().trim() == "") {
            alert("Please Enter Email Address")
            $('#EmailID').css('border-color', 'red');
            $('#EmailID').focus();
            return false;
        }
        else {
            var a = ValidateEmail($('#EmailID').val());

            if (a == true) {
                $('#EmailID').css('border-color', ' ');
                true;
            }
            else {
                alert("Please Enter Valid Email Address");
                $('#EmailID').css('border-color', 'red');
                $('#EmailID').focus();
                return false;
            }
        }

        if ($('#STNoHead').val() == "") {
            alert("Please Enter STNo Head.")
            $('#STNoHead').css('border-color', 'red');
            $('#STNoHead').focus();
            return false;
        }
        else {
            $('#STNoHead').css('border-color', '');
            $('#STNoHead').focus();
        }
        if ($('#CGTNoHead').val() == "") {
            alert("Please Enter CGT No Head.")
            $('#CGTNoHead').css('border-color', 'red');
            $('#CGTNoHead').focus();
            return false;
        }
        else {
            $('#CGTNoHead').css('border-color', '');
            $('#CGTNoHead').focus();
        }
        if ($('#DeliverAddress1').val() == "") {
            alert("Please Enter DeliverAddress1.")
            $('#DeliverAddress1').css('border-color', 'red');
            $('#DeliverAddress1').focus();
            return false;
        }
        else {
            $('#DeliverAddress1').css('border-color', '');
            $('#DeliverAddress1').focus();
        }
        if ($('#DeliverAddress2').val() == "") {
            alert("Please Enter DeliverAddress2.")
            $('#DeliverAddress2').css('border-color', 'red');
            $('#DeliverAddress2').focus();
            return false;
        }
        else {
            $('#DeliverAddress2').css('border-color', '');
            $('#DeliverAddress2').focus();
        }
        if ($('#Pincode').val() == "") {
            alert("Please Enter Delivery Pincode.")
            $('#Pincode').css('border-color', 'red');
            $('#Pincode').focus();
            return false;
        }
        else {
            $('#Pincode').css('border-color', '');
            $('#Pincode').focus();
        }
        if ($('#AgentName').val() == "") {
            alert("Please Enter Agent Name.")
            $('#AgentName').css('border-color', 'red');
            $('#AgentName').focus();
            return false;
        }
        else {
            $('#AgentName').css('border-color', '');
            $('#AgentName').focus();
        }
        if ($('#AgentAddress1').val() == "") {
            alert("Please Enter AgentAddress1.")
            $('#AgentAddress1').css('border-color', 'red');
            $('#AgentAddress1').focus();
            return false;
        }
        else {
            $('#AgentAddress1').css('border-color', '');
            $('#AgentAddress1').focus();
        }
        if ($('#AgentAddress2').val() == "") {
            alert("Please Enter AgentAddress2.")
            $('#AgentAddress2').css('border-color', 'red');
            $('#AgentAddress2').focus();
            return false;
        }
        else {
            $('#AgentAddress2').css('border-color', '');
            $('#AgentAddress2').focus();
        }
        if ($('#AgentPincode').val() == "") {
            alert("Please Enter AgentPincode.")
            $('#AgentPincode').css('border-color', 'red');
            $('#AgentPincode').focus();
            return false;
        }
        else {
            $('#AgentPincode').css('border-color', '');
            $('#AgentPincode').focus();
        }
        if ($('#AgentCountry').val() == "") {
            alert("Please Enter Agent Country.")
            $('#AgentCountry').css('border-color', 'red');
            $('#AgentCountry').focus();
            return false;
        }
        else {
            $('#AgentCountry').css('border-color', '');
            $('#AgentCountry').focus();
        }
        if ($('#AgentCurrency').val() == "") {
            alert("Please Enter Agent Currency.")
            $('#AgentCurrency').css('border-color', 'red');
            $('#AgentCurrency').focus();
            return false;
        }
        else {
            $('#AgentCurrency').css('border-color', '');
            $('#AgentCurrency').focus();
        }
        if ($('#PaymentsTerms').val() == "") {
            alert("Please Enter Payments Terms.")
            $('#PaymentsTerms').css('border-color', 'red');
            $('#PaymentsTerms').focus();
            return false;
        }
        else {
            $('#PaymentsTerms').css('border-color', '');
            $('#PaymentsTerms').focus();
        }
        if ($('#DeliveryTerms').val() == "") {
            alert("Please Enter Delivery Terms.")
            $('#DeliveryTerms').css('border-color', 'red');
            $('#DeliveryTerms').focus();
            return false;
        }
        else {
            $('#DeliveryTerms').css('border-color', '');
            $('#DeliveryTerms').focus();
        }
        if ($('#Insurance').val() == "") {
            alert("Please Enter Insurance.")
            $('#Insurance').css('border-color', 'red');
            $('#Insurance').focus();
            return false;
        }
        else {
            $('#Insurance').css('border-color', '');
            $('#Insurance').focus();
        }
        if ($('#DelierTo').val() == "") {
            alert("Please Enter DelierTo.")
            $('#DelierTo').css('border-color', 'red');
            $('#DelierTo').focus();
            return false;
        }
        else {
            $('#DelierTo').css('border-color', '');
            $('#DelierTo').focus();
        }
        if ($('#Brand').val() == "") {
            alert("Please Enter Brand.")
            $('#Brand').css('border-color', 'red');
            $('#Brand').focus();
            return false;
        }
        else {
            $('#Brand').css('border-color', '');
            $('#Brand').focus();
        }
        if ($('#ShipmentTo').val() == "") {
            alert("Please Enter Shipment To.")
            $('#ShipmentTo').css('border-color', 'red');
            $('#ShipmentTo').focus();
            return false;
        }
        else {
            $('#ShipmentTo').css('border-color', '');
            $('#ShipmentTo').focus();
        }
        if ($('#ShimentMode').val() == "") {
            alert("Please Enter Shiment Mode.")
            $('#ShimentMode').css('border-color', 'red');
            $('#ShimentMode').focus();
            return false;
        }
        else {
            $('#ShimentMode').css('border-color', '');
            $('#ShimentMode').focus();
        }
        if ($('#CountryStamp').val() == "") {
            alert("Please Enter Country Stamp.")
            $('#CountryStamp').css('border-color', 'red');
            $('#CountryStamp').focus();
            return false;
        }
        else {
            $('#CountryStamp').css('border-color', '');
            $('#CountryStamp').focus();
        }
    }
    function PhoneValidation(Phone) {     
        var PhoneReg = new RegExp(/\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/);
        var valid = PhoneReg.test(Phone);

        if (!valid) {
            return false;
        }
        else {
            return true;
        }
    }
    function Save() {
        if (!ValidationForSaveAndupdate()) {           
            $.ajax({
                type: 'POST',
                url: '/BuyerMater/BuyerMater',
                data: {
                    BuyerCode: $('#BuyerCode').val(),
                    BuyerFullName: $('#BuyerFullName').val(),
                    BuyerShortName: $('#BuyerShortName').val(),
                    Currency: $('#Currency').val(),
                    BuyerAddress1: $('#BuyerAddress1').val(),
                    BuyerAddress2: $('#BuyerAddress2').val(),
                    BuyerPincode: $('#BuyerPincode').val(),
                    Country: $('#Country').val(),
                    ContactPersion: $('#ContactPersion').val(),
                    Designation: $('#Designation').val(),
                    ContactNoo: $('#ContactNoo').val(),
                    EmailID: $('#EmailID').val(),
                    STNoHead: $('#STNoHead').val(),
                    CGTNoHead: $('#CGTNoHead').val(),
                    DeliverAddress1: $('#DeliverAddress1').val(),
                    DeliverAddress2: $('#DeliverAddress2').val(),
                    Pincode: $('#Pincode').val(),
                    AgentName: $('#AgentName').val(),
                    AgentAddress1: $('#AgentAddress1').val(),
                    AgentAddress2: $('#AgentAddress2').val(),
                    AgentPincode: $('#AgentPincode').val(),
                    AgentCountry: $('#AgentCountry').val(),
                    AgentCurrency: $('#AgentCurrency').val(),
                    PaymentsTerms: $('#PaymentsTerms').val(),
                    DeliveryTerms: $('#DeliveryTerms').val(),
                    Insurance: $('#Insurance').val(),
                    DelierTo: $('#DelierTo').val(),

                    Brand: $('#Brand').val(),
                    ShipmentTo: $('#ShipmentTo').val(),
                    ShimentMode: $('#ShimentMode').val(),
                    CountryStamp: $('#CountryStamp').val(),
                    BuyerMasterId: $('#BuyerMasterId').val(),
                },
                success: function (data) {
                    if (data.BuyerMasterId != "" || data.BuyerMasterId != 0) {
                        alert('Saved Successfully.');
                        location.href = "/BuyerMater/BuyerMater";
                        return false;
                    }
                    else if (data.BuyerMasterId == 0 && data.BuyerFullName != "") {
                        alert('Already Exist in the database.');
                        return false;
                    }
                    else {
                        alert('Save process Failed.');
                        location.href = "/BuyerMater/BuyerMater";
                        return false;
                    }

                },
                error: function (ex) {
                    alert('Already Exist in the database.');
                }
            });
        }
    }

    function ValidateEmail(email) {
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(email);
    };
  
    function Update(arg) {
        ValidationForSaveAndupdate();
        if (ValidationForSaveAndupdate() != false) {
            $.ajax({
                type: 'POST',
                url: '/BuyerMater/Update',
                data: {
                    BuyerCode: $('#BuyerCode').val(),
                    BuyerFullName: $('#BuyerFullName').val(),
                    BuyerShortName: $('#BuyerShortName').val(),
                    Currency: $('#Currency').val(),
                    BuyerAddress1: $('#BuyerAddress1').val(),
                    BuyerAddress2: $('#BuyerAddress2').val(),
                    BuyerPincode: $('#BuyerPincode').val(),
                    Country: $('#Country').val(),
                    ContactPersion: $('#ContactPersion').val(),
                    Designation: $('#Designation').val(),
                    ContactNoo: $('#ContactNoo').val(),
                    EmailID: $('#EmailID').val(),
                    STNoHead: $('#STNoHead').val(),
                    CGTNoHead: $('#CGTNoHead').val(),
                    DeliverAddress1: $('#DeliverAddress1').val(),
                    DeliverAddress2: $('#DeliverAddress2').val(),
                    Pincode: $('#Pincode').val(),
                    AgentName: $('#AgentName').val(),
                    AgentAddress1: $('#AgentAddress1').val(),
                    AgentAddress2: $('#AgentAddress2').val(),
                    AgentPincode: $('#AgentPincode').val(),
                    AgentCountry: $('#AgentCountry').val(),
                    AgentCurrency: $('#AgentCurrency').val(),
                    PaymentsTerms: $('#PaymentsTerms').val(),
                    DeliveryTerms: $('#DeliveryTerms').val(),
                    Insurance: $('#Insurance').val(),
                    DelierTo: $('#DelierTo').val(),
                    Brand: $('#Brand').val(),
                    ShipmentTo: $('#ShipmentTo').val(),
                    ShimentMode: $('#ShimentMode').val(),
                    CountryStamp: $('#CountryStamp').val(),
                    BuyerMasterId: $('#BuyerMasterId').val(),
                },
                success: function (data) {
                    if (data.BuyerMasterId != "" || data.BuyerMasterId != 0) {
                        alert('Updated Successfully.');
                        location.href = "/BuyerMater/BuyerMater";
                        return false;
                    }
                    else {
                        alert('Updation failed.');
                        location.href = "/BuyerMater/BuyerMater";
                        return false;
                    }

                },
                error: function (ex) {
                    alert('Already Exist in the database.');
                }
            });
        }
    }
</script>
<h2 class="content-title">Buyer Master</h2>
<div style="width: 100%; float: left;">
    <div class="loader-overlay" style="position:fixed;left:0;right:0;top:0;bottom:0;margin:auto;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index:99;">
        <div id="spinner" style="position:relative;height:64px;width:64px;margin:auto;top:50%;">
            <img src="~/Content/Images/round.gif" id="imgLoading" alt="Loading..." />
        </div>
    </div>
    <div id="tabVehicleWatchList">
        @Html.Action("BuyerMasterGird", "BuyerMater")
    </div>
</div>
