@using MMS.Core.Entities
@model MMS.Web.Models.BuyerMaserModel.BuyerMasterModel



@{
    ViewBag.Title = "BuyerMater";
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />

}



<div id="tabVehicleWatchList">
    @Html.Action("BuyerMasterGird", "BuyerMater")
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="~/Content/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/js/custom.js"></script>
<script src="~/Content/js/Validation.js"></script>


<script>
    function Save() {
        var BuyerMasterId = $("#BuyerMasterId").val();
        var CustomerName = $("#CustomerName").val();
        var BuyerCode = $("#BuyerCode").val();
        var BuyerShortName = $("#BuyerShortName").val();
        var Account = $("#Account").val();
        var AccountName = $("#AccountName").val();
        var AccountDescription = $("#AccountDescription").val();
        var SwiftCode = $("#SwiftCode").val();
        var Physical1 = $("#Physical1").val();
        var PhysicalCode = $("#PhysicalCode").val();
        var CurrencyId = $("#CurrencyId").val();
        var Telephone1 = $("#Telephone1").val();
        var Telephone2 = $("#Telephone2").val();
        var EmailContact = $("#EmailContact").val();
        var EmailAccounts = $("#EmailAccounts").val();
        var EmailEmergency = $("#EmailEmergency").val();
        var AccountTypeId = $("#AccountTypeId").val();
        var VatNumber = $("#VatNumber").val();
        var RegNumber = $("#RegNumber").val();
        var CreditLimit = $("#CreditLimit").val();
        var Interest = $("#Interest").val();
        var TaxTypeId = $("#TaxTypeId").val();
        var ForeignCurrency = $("#ForeignCurrency").val();
        var DcBalance = $("#DcBalance").val();
        var Website = $("#Website").val();

        var formdata = new FormData();
        formdata.append("BuyerMasterId", BuyerMasterId);
        formdata.append("CustomerName", CustomerName);
        formdata.append("BuyerCode", BuyerCode);
        formdata.append("BuyerShortName", BuyerShortName);
        formdata.append("Account", Account);
        formdata.append("AccountName", AccountName);
        formdata.append("AccountDescription", AccountDescription);
        formdata.append("SwiftCode", SwiftCode);
        formdata.append("Physical1", Physical1);
        formdata.append("PhysicalCode", PhysicalCode);
        formdata.append("CurrencyId", CurrencyId);
        formdata.append("Telephone1", Telephone1);
        formdata.append("Telephone2", Telephone2);
        formdata.append("EmailContact", EmailContact);
        formdata.append("EmailAccounts", EmailAccounts);
        formdata.append("EmailEmergency", EmailEmergency);
        formdata.append("AccountTypeId", AccountTypeId);
        formdata.append("VatNumber", VatNumber);
        formdata.append("RegNumber", RegNumber);
        formdata.append("CreditLimit", CreditLimit);
        formdata.append("Interest", Interest);
        formdata.append("TaxTypeId", TaxTypeId);
        formdata.append("ForeignCurrency", ForeignCurrency);
        formdata.append("DcBalance", DcBalance);
        formdata.append("Website", Website);
        var email = /^(([^<>()[\]\\.,;:\s"]+(\.[^<>()[\]\\.,;:\s"]+)*)|.(".+"))((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var filter = /^[0-9]+(\.[0-9]+)?$/;
        var phoneregx = /^[a-zA-Z\s\.]*$/;
        // Validation check
        if (CustomerName && BuyerCode && EmailContact && BuyerShortName && Physical1 && PhysicalCode &&
            Telephone1 && EmailEmergency && EmailAccounts && AccountTypeId && VatNumber && RegNumber &&
            CreditLimit && Interest && TaxTypeId && ForeignCurrency && DcBalance && Website && email.test(EmailContact) &&
            email.test(EmailAccounts) && email.test(EmailEmergency) && filter.test(DcBalance) && filter.test(Interest) & filter.test(CreditLimit) && phoneregx.test(CustomerName)) {

            // Choose the correct URL based on BuyerMasterId
            var url = BuyerMasterId === "0" ? '/BuyerMater/BuyerModel' : '/BuyerMater/Update';

            $.ajax({
                type: 'POST',
                url: url,
                contentType: false,
                processData: false,
                dataType: 'json', // Expecting a JSON response
                data: formdata,
                success: function (data) {
                    if (data.AlertMessage == "Updated") {
                        sessionStorage.setItem("showToast", "updated");
                        window.location.href = "/BuyerMater/BuyerMater";
                    }
                    else if (data.AlertMessage === "saved") {
                        sessionStorage.setItem("showToast", "success");
                        window.location.href = "/BuyerMater/BuyerMater";
                    }
                    else if (data.AlertMessage === "already exist") {
                        showErrorToast();
                    }
                    else {
                        showsaveprocessToast();
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', status, error);
                }
            });
        }
    }

</script>