
.manage_customers .table tr th, .manage_customers .table tr td, .common_Manage_subMerchant .table tr th, .common_Manage_subMerchant .table tr td {
    padding: 16px;
}

h2#MRPlanning {
    font-size: 25px;
    line-height: 43px;
}

body {
    font-family: 'lato', sans-serif;
}

.container {
    max-width: 1662px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small

{
    font-size: 0.5em;
}

}

.responsive-table {
    li

{
    border-radius: 3px;
    padding: 7px 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.table-header {
    background-color: #388c9d;
    font-size: 14px;
/*    padding: 18px;
*/    color: white;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.table-row {
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.col-1 {
    flex-basis: 10%;
}

.col-2 {
    flex-basis: 40%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 25%;
}

media all and (max-width: 767px) {
    .table-header

{
    display: none;
}

.table-row {
}

li {
    display: block;
}

.col {
    flex-basis: 100%;
}

.col {
    display: flex;
    padding: 10px 0;
    &:before

{
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
}

}
}
}


/*check box
*/
li.table-row::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

li.table-row:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 20px #979797;
}
img#plus:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 20px #979797;
}
img#plus:hover {
    color: black;
    box-shadow: 0 0 20px #979797;
}
li.table-row:hover {
    color: black;
    box-shadow: 0 0 20px #979797;
}

.push {
    width: 172px;
    height: 22px;
    margin: 4px;
    background: #333;
    cursor: pointer;
}

    .push div {
        width: 22%;
        height: 50px;
        float: left;
        background: #888;
        border-right: 1px solid;
        transition: width 0.5s ease,background 0.5s ease,margin 0.5s ease,height 0.5s ease,box-shadow 1s ease;
    }

        .push div span {
            display: block;
            color: white;
            text-align: center;
            font-weight: bold;
            line-height: 49px;
            font-family: Arial;
            transition: all 0.5s ease;
        }

        .push div.active {
            width: 78%;
            height: 58px;
            margin-top: -8px;
            border-radius: 6px;
            background: #f36270;
            box-shadow: inset 0 -8px 0 0 rgba(0,0,0,0.5),0 3px 5px 0 rgba(0,0,0,0.5);
        }

            .push div.active span {
                opacity: 1;
            }

        .push div.off span {
            opacity: 392.5;
        }

        .push div.non {
            box-shadow: inset 0 0 5px rgba(0,0,0,0.5), inset -2px 4px 1px 0 rgba(0,0,0,0.5);
        }

            .push div.non span {
                opacity: 0;
            }




            /* dc grid*/





@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin: 0;
}

/* Variables */
/*body {
    background: linear-gradient(to left, #a55eea, #45aaf2);
    border-radius: 20px;
    padding: 20px;
}
*/
.table-padding {
    padding: 20px;
}

@media (max-width: 320px) {
    .break-small {
        width: 320px;
    }
}

@media (max-width: 1200px) {
    .break-large {
        width: 1200px;
    }
}

.primary {
    color: black;
}

.echo {
    color: black;
}

.pro {
    color: black;
}

.business {
    color: black;
}

.transition {
    transition: all 0.4s ease;
}

/* Card Themes - Start */

.basic .pricing-header {
    background-color: #4b7bec;
}

.basic .price-circle {
    border: 10px solid #4b7bec;
    transition: all 0.4s;
}

.basic:hover .price-circle {
    border-width: 5px;
}

.basic .buy-now:hover {
    background-image: none !important;
    background-color: #4b7bec !important;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .4);
}

.echo .pricing-header {
    background-color: #ffc107;
}

.echo .price-circle {
    border: 10px solid #ffc107;
    transition: all 0.4s;
}

.echo:hover .price-circle {
    border-width: 5px;
}

.echo .buy-now:hover {
    background-image: none !important;
    background-color: #ffc107 !important;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .4);
}

.pro .pricing-header {
    background-color: #26de81;
}

.pro .price-circle {
    border: 10px solid #26de81;
    transition: all 0.4s;
}

.pro:hover .price-circle {
    border-width: 5px;
}

.pro .buy-now:hover {
    background-image: none !important;
    background-color: #26de81 !important;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .4);
}

.business .pricing-header {
    background-color: #a55eea;
}

.business .price-circle {
    border: 10px solid #a55eea;
    transition: all 0.4s;
}

.business:hover .price-circle {
    border-width: 5px;
}

.business .buy-now:hover {
    background-image: none !important;
    background-color: #a55eea !important;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .4);
}
/* Card Themes - End */


.container1 {
    max-width: 1589px;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.column {
    padding: 10px 15px 35px;
    width: 20%;
    box-sizing: border-box;
}

@media screen and (max-width: 980px) {
    .column {
        flex: 50%;
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .column {
        flex: 100%;
        display: block;
    }
}

.pricing-card {
    transition: background-color 0.4s ease;
    height: 650px;
    background-color: #f9f9f9;
    border-radius: 20px;
    position: relative;
    transition: all 0.4s;
}

    .pricing-card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        transform: scale(1.05);
    }

.popular {
    position: absolute;
    top: 0;
    right: 5%;
    width: auto;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #eb3b5a;
    color: white;
    font-size: 12px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
ul#ul li {
    list-style-type: none;
    display: block;
    padding: 3px 0 10px 0;
    margin: 0;
    border-bottom: 1px solid #f2f2f2;
}
.badge-box {
    padding: 0 40px;
    margin-top: 74px;
}

    .badge-box span {
        display: inline-block;
        border: 1px solid #4b7bec;
        padding: 4px 12px;
        border-radius: 14px;
        overflow: hidden;
        color: #4b7bec;
    }

.pricing-header {
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: 20px 20px 0 0;
}

.plan-title {
    font-size: 24px;
    color: white;
    position: relative;
    top: 25%;
}

.price-circle {
    width: calc(33.3% - 30px);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    left: calc(50% - 60px);
    top: 60%;
    background-color: white;
    position: absolute;
}

    .price-circle .info {
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: gray;
    }

    .price-circle .price-title {
        display: block;
        font-size: 28px;
        padding: 28px 0 0;
        font-weight: bold;
    }

        .price-circle .price-title small {
            font-size: 18px;
        }

.pricing-header h2 {
    position: relative;
    top: 40%;
    color: #fff;
}

ul {
    margin: 10px 0 0 0;
    padding: 0;
}



.buy-button-box {
    width: 100%;
    float: left;
    margin-top: 6px;
}

b.buy-now {
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    background-image: linear-gradient(to left, #a55eea, #45aaf2);
    margin-top: 20px;
}
b.buy-nows {
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 10px 32px;
    border-radius: 20px;
    background-image: linear-gradient(to left, #a55eea, #45aaf2);
    margin-top: 20px;
}

small#qty {
    font-size: 14px;
    margin-left: -11%;
}
