@using MMS.Core.Entities
@model MMS.Web.Models.Addressdetails.Addressdetails

@{
    ViewBag.Title = "AddressMaster";


    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
}


<script src="~/Content/js/custom.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="~/Content/js/bootstrap.bundle.min.js"></script>

<script>
    function Save() {
        var AddressId = $("#AddressId").val();
        var BuyerId = $("#BuyerId").val();
        var AddressType = $("#AddressType").val();
        var Add1 = $("#Add1").val();
        var Add2 = $("#Add2").val();
        var Add3 = $("#Add3").val();
        var City = $("#City").val();
        var Country = $("#Country").val();
        var State = $("#State").val();
        var ZipCode = $("#ZipCode").val();
        var ContactName = $("#ContactName").val();
        var Email = $("#Email").val();
        var Phone = $("#Phone").val();
        var Notes = $("#Notes").val();
        var formdata = new FormData();
        formdata.append("AddressId", AddressId);
        formdata.append("BuyerId", BuyerId);
        formdata.append("AddressType", AddressType);
        formdata.append("Add1", Add1);
        formdata.append("Add2", Add2);
        formdata.append("Add3", Add3);
        formdata.append("City", City);
        formdata.append("State", State);
        formdata.append("Country", Country);
        formdata.append("ZipCode", ZipCode);
        formdata.append("ContactName", ContactName);
        formdata.append("Email", Email);
        formdata.append("Phone", Phone);
        formdata.append("Notes", Notes);

        if (AddressId == "0") {
            $.ajax({
                type: 'POST',
                url: '/AddressDetails/CustAddressInsert',
                contentType: false,
                processData: false,
                dataType: 'html',
                data: formdata,
                success: function (data) {

                    if (data.addresid != "" || data.addresid != 0) {
                        alert('Saved Successfully.');
                        location.href = "/AddressDetails/AddressMaster";
                        return false;
                    }
                    else if (data.addresid == 0 && data.addresid != "") {
                        alert('Already Exist in the database.');
                        return false;
                    }
                    else {
                        alert('Save process Failed.');
                        location.href = "/AddressDetails/AddressDetails";
                        return false;
                    }

                },
                error: function (ex) {
                    alert('Already Exist in the database.');
                }
            });
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/AddressDetails/Update',
                contentType: false,
                processData: false,
                dataType: 'html',
                data: formdata,
                success: function (data) {

                    if (data.addresid != "" || data.addresid != 0) {
                        alert('Update Successfully.');
                        location.href = "/AddressDetails/AddressMaster";
                        return false;
                    }
                    else {
                        alert('Update process Failed.');
                        location.href = "/AddressDetails/AddressDetails";
                        return false;
                    }

                },
                error: function (ex) {
                    alert('Update process Failed in the database.');
                }
            });
        }
    }
    $(document).ready(function () {
        $("#State").empty();
        $("#City").empty();
        $("#Country").change(function () {
            var CountryId = $('#Country').val();
            $.ajax({
                url: '/AddressDetails/statelist',
                type: "GET",
                dataType: "JSON",
                data: { country: CountryId },
                success: function (states) {
                    $("#State").html("");
                    $("#City").html("");
                    $.each(states, function (i, state) {
                        $("#State").append(
                            $('<option></option>').val(state.Id).html(state.Statename));
                    });
                }
            });
        });
        $("#State").change(function () {
            $("#City").empty();
            var stateId = $('#State').val();
            $.ajax({
                url: '/AddressDetails/citylist',
                type: "GET",
                dataType: "JSON",
                data: { state: stateId },
                success: function (cities) {
                    $("#City").html("");
                    $.each(cities, function (i, city) {
                        $("#City").append(
                            $('<option></option>').val(city.Id).html(city.Cityname));
                    });
                }
            });
        });
    });

</script>

<div>
    @Html.Action("AddressDetailsGrid", "AddressDetails")
</div>
