﻿@model  MMS.Web.Models.Po.PoModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <style>
        input[type=text] {
            padding: 12px;
            font-size: 17px;
            border: 1px solid grey;
            width: 80%;
        }

        .buttonone {
            float: right;
            width: 20%;
            padding: 12px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #4472C4;
            border-color: #0d6efd;
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 33px;
            height: 16px;
            background-color: #198754;
            border-radius: 20px;
            transition: all 0.3s;
        }

            .switch::after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: white;
                top: 3px;
                left: 5px;
                transition: all 0.3s;
            }

        .checkbox:checked + .switch::after {
            left: 18px;
        }

        .checkbox:checked + .switch {
            background-color: #dc3545;
        }

        .checkbox {
            display: none;
        }
    </style>

</head>
<body>
    <div class="main-page">
        <div id="transaction_report" class="reports common_Manage_subMerchant">
            <div class="d-flex justify-content-between align-items-center manage_customers_head">
                <div class="manage_customers_main_head">
                    <h6 class="font-20">Purchase Order List</h6>
                </div>
                <div class="radioSection">
                    <label for="add">
                        <input type="radio" name="yes" id="add" style="cursor: pointer;" checked>
                        Details
                    </label>
                    <label for="add1">
                        <input type="radio" name="yes" id="add1" style="cursor: pointer;">
                        Summery
                    </label>
                </div>
                <div>
                    <a href="/Po/PoDetails">
                        <button class="btn btn-success" id="AddPo" title="Po">
                            ADD PO
                        </button>
                    </a>
                </div>
            </div>
            <div>
                <div class="" id="Detailgrid">
                    @{Html.RenderPartial("~/Views/Po/Partial/DetailsGrid.cshtml");}
                </div>
                <div class="" id="summerygrid">
                    @{Html.RenderPartial("~/Views/Po/Partial/SummeryGrid.cshtml", Model);}
                </div>
            </div>

        </div>
    </div>




    <script src="~/Content/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/Content/js/bootstrap.bundle.min.js"></script>


    <script>
        $(window).on("load", function () {
            $(".report-inner-section").addClass("transection");
            $("#po").attr('checked', true);
        });
    </script>
    <script>
        $("tbody").on("change", ".checkbox", function () {
            var addressId = $(this).data('po-id');
            var isChecked = $(this).is(':checked');
            performAjaxRequest(addressId, !isChecked);
        });
        $("#summerygrid").hide();
        $("#add1").click(function () {
            $("#summerygrid").show();
            $("#Detailgrid").hide();
        });
        $("#add").click(function () {
            $("#summerygrid").hide();
            $("#Detailgrid").show();
        });
        $("#customer_manage_search").keyup(function () {
            var bomsearch = $("#customer_manage_search").val();
            $.ajax({
                type: "GET",
                url: '/Po/PoSearch',
                data: { filter: bomsearch },
                dataType: 'json',
                success: function (data) {
                    $("#details").empty();
                    var count = 1;
                    $.each(data, function (i, item) {
                        $("#details").append(`
                                <tr class="font-14">
                                    <td>${count}</td>
                                    <td style="text-align:left">${item.ProductName}</td>
                                    <td style="text-align:left">${item.StoreName}</td>
                                    <td style="text-align:left">${item.UomName}</td>
                                    <td style="text-align:left">${item.SupplierName}</td>
                                    <td style="text-align:right">${item.UnitPrice}</td>
                                    <td style="text-align:right">${item.PoNumber}</td>
                                    <td class="veh-4" style="width:12%;">
 <span class="table_icons" style="padding: 7px 9px;">
     <img src="/Content/Images/editpng.png" onclick="Edit('${item.podetail}')" style="width: 34px; height: 31px; margin-top: -10px;" />
 </span>
 <input type="checkbox" class="checkbox" id="delete-${item.podetail}" data-po-id="${item.podetail}" ${item.isactive ? '' : 'checked'} />
 <label for="delete-${item.podetail}" class="switch"></label>
                </td>

                                </tr>
                            `);
                        count++;
                    });
                },
                error: function (xhr, status, error) {
                    console.error("Error occurred:", status, error);
                }
            });

        });

        function Edit(podetail) {

            window.location.href = "/Po/PoIndentEdit?indentpomapid=" + podetail;

        }

        function performAjaxRequest(addressId, isChecked) {
    $.ajax({
        type: 'POST',
        url: '@Url.Action("PoDelete","Po")',
        data: { poId: addressId, IsChecked: isChecked },
        success: function (data) {
            if (data === "Success") {
            } else {
                alert('Po Details deletion failed.');
            }
        },
        error: function () {
            alert('Error occurred during the delete operation.');
        }
    });
 }
    </script>


</body>
</html>
