@{
    ViewBag.Title = "Imir";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/FormStyle.css" rel="stylesheet" />


}

<script>
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $(".loader-overlay").css("display", "block");
        });

        $(document).ajaxComplete(function () {
            $(".loader-overlay").css("display", "none");
        });
        $(window).load(function () {
            $('.loader-overlay').fadeOut('fast');
        });
        $('#EditColorPartial').hide();
    })
    function Save()
    {
        if ($('#ReportNo').val() == "") {
            alert("Please Enter ReportNo.")
            $('#ReportNo').css('border-color', 'red');
            $('#ReportNo').focus();
            return false;
        }
        else {
            $('#ReportNo').css('border-color', '');
        }
        if ($('#Date').val() == "") {
            alert("Please Enter Date.")
            $('#Date').css('border-color', 'red');
            $('#Date').focus();
            return false;
        }
        else {
            $('#Date').css('border-color', '');
        }
        if ($('#GateEntryNo').val() == "") {
            alert("Please Enter GateEntryNo.")
            $('#GateEntryNo').css('border-color', 'red');
            $('#GateEntryNo').focus();
            return false;
        }
        else {
            $('#GateEntryNo').css('border-color', '');
        }
        if ($('#RefInfrepNo').val() == "") {
            alert("Please Enter RefInfrepNo.")
            $('#RefInfrepNo').css('border-color', 'red');
            $('#RefInfrepNo').focus();
            return false;
        }
        else {
            $('#RefInfrepNo').css('border-color', '');
        }
        if ($('#GrnNo').val() == "") {
            alert("Please Enter GrnNo.")
            $('#GrnNo').css('border-color', 'red');
            $('#GrnNo').focus();
            return false;
        }
        else {
            $('#GrnNo').css('border-color', '');
        }
        if ($('#DcNo').val() == "") {
            alert("Please Enter DcNo.")
            $('#DcNo').css('border-color', 'red');
            $('#DcNo').focus();
            return false;
        }
        else {
            $('#DcNo').css('border-color', '');
        }
        if ($('#SupplierMasterId').val() == "") {
            alert("Please Enter Supplier.")
            $('#SupplierMasterId').css('border-color', 'red');
            $('#SupplierMasterId').focus();
            return false;
        }
        else {
            $('#SupplierMasterId').css('border-color', '');
        }
        if ($('#MaterialMasterId').val() == "") {
            alert("Please Enter Material.")
            $('#MaterialMasterId').css('border-color', 'red');
            $('#MaterialMasterId').focus();
            return false;
        }
        else {
            $('#MaterialMasterId').css('border-color', '');
        }
        if ($('#ColourMasterId').val() == "") {
            alert("Please Enter Colour.")
            $('#ColourMasterId').css('border-color', 'red');
            $('#ColourMasterId').focus();
            return false;
        }
        else {
            $('#ColourMasterId').css('border-color', '');
        }
        if ($('#Store').val() == "") {
            alert("Please Enter Store.")
            $('#Store').css('border-color', 'red');
            $('#Store').focus();
            return false;
        }
        else {
            $('#Store').css('border-color', '');
        }
        if ($('#Uom').val() == "") {
            alert("Please Enter Uom.")
            $('#Uom').css('border-color', 'red');
            $('#Uom').focus();
            return false;
        }
        else {
            $('#Uom').css('border-color', '');
        }

        if ($('#InspectionType').val() == "") {
            alert("Please Enter InspectionType.")
            $('#InspectionType').css('border-color', 'red');
            $('#InspectionType').focus();
            return false;
        }
        else {
            $('#InspectionType').css('border-color', '');
        }

        if ($('#DcQty').val() == "") {
            alert("Please Enter DcQty.")
            $('#DcQty').css('border-color', 'red');
            $('#DcQty').focus();
            return false;
        }
        else {
            $('#DcQty').css('border-color', '');
        }

        if ($('#ReceivedQty').val() == "") {
            alert("Please Enter ReceivedQty.")
            $('#ReceivedQty').css('border-color', 'red');
            $('#ReceivedQty').focus();
            return false;
        }
        else {
            $('#ReceivedQty').css('border-color', '');
        }
        if ($('#DcPcs').val() == "") {
            alert("Please Enter DcPcs.")
            $('#DcPcs').css('border-color', 'red');
            $('#DcPcs').focus();
            return false;
        }
        else {
            $('#DcPcs').css('border-color', '');
        }
        if ($('#ReceivedPcs').val() == "") {
            alert("Please Enter ReceivedPcs.")
            $('#ReceivedPcs').css('border-color', 'red');
            $('#ReceivedPcs').focus();
            return false;
        }
        else {
            $('#ReceivedPcs').css('border-color', '');
        }
        if ($('#QtyInspected').val() == "") {
            alert("Please Enter QtyInspected.")
            $('#QtyInspected').css('border-color', 'red');
            $('#QtyInspected').focus();
            return false;
        }
        else {
            $('#QtyInspected').css('border-color', '');
        }
        if ($('#QtyAccepted').val() == "") {
            alert("Please Enter QtyAccepted.")
            $('#QtyAccepted').css('border-color', 'red');
            $('#QtyAccepted').focus();
            return false;
        }
        else {
            $('#QtyAccepted').css('border-color', '');
        }

        if ($('#QtyRejected').val() == "") {
            alert("Please Enter QtyRejected.")
            $('#QtyRejected').css('border-color', 'red');
            $('#QtyRejected').focus();
            return false;
        }
        else {
            $('#QtyRejected').css('border-color', '');
        }

        if ($('#QtyRejectionPercent').val() == "") {
            alert("Please Enter QtyRejection %.")
            $('#QtyRejectionPercent').css('border-color', 'red');
            $('#QtyRejectionPercent').focus();
            return false;
        }
        else {
            $('#QtyRejectionPercent').css('border-color', '');
        }
        if ($('#QtyExcess').val() == "") {
            alert("Please Enter QtyExcess .")
            $('#QtyExcess').css('border-color', 'red');
            $('#QtyExcess').focus();
            return false;
        }
        else {
            $('#QtyExcess').css('border-color', '');
        }
        if ($('#PcsInspected').val() == "") {
            alert("Please Enter PcsInspected .")
            $('#PcsInspected').css('border-color', 'red');
            $('#PcsInspected').focus();
            return false;
        }
        else {
            $('#PcsInspected').css('border-color', '');
        }

        if ($('#PcsAccepted').val() == "") {
            alert("Please Enter PcsAccepted .")
            $('#PcsAccepted').css('border-color', 'red');
            $('#PcsAccepted').focus();
            return false;
        }
        else {
            $('#PcsAccepted').css('border-color', '');
        }

        if ($('#PcsRejected').val() == "") {
            alert("Please Enter PcsRejected .")
            $('#PcsRejected').css('border-color', 'red');
            $('#PcsRejected').focus();
            return false;
        }
        else {
            $('#PcsRejected').css('border-color', '');
        }
        if ($('#PcsRejectionPercent').val() == "") {
            alert("Please Enter PcsRejection % .")
            $('#PcsRejectionPercent').css('border-color', 'red');
            $('#PcsRejectionPercent').focus();
            return false;
        }
        else {
            $('#PcsRejectionPercent').css('border-color', '');
        }
        if ($('#PcsExcess').val() == "") {
            alert("Please Enter PcsExcess .")
            $('#PcsExcess').css('border-color', 'red');
            $('#PcsExcess').focus();
            return false;
        }
        else {
            $('#PcsExcess').css('border-color', '');
        }
        if ($('#Remarks').val() == "") {
            alert("Please Enter Remarks .")
            $('#Remarks').css('border-color', 'red');
            $('#Remarks').focus();
            return false;
        }
        else {
            $('#Remarks').css('border-color', '');
        }
        if ($('#InspectedBy').val() == "") {
            alert("Please Enter InspectedBy .")
            $('#InspectedBy').css('border-color', 'red');
            $('#InspectedBy').focus();
            return false;
        }
        else {
            $('#InspectedBy').css('border-color', '');
        }
        if ($('#QcExcecutive').val() == "") {
            alert("Please Enter QcExcecutive .")
            $('#QcExcecutive').css('border-color', 'red');
            $('#QcExcecutive').focus();
            return false;
        }
        else {
            $('#QcExcecutive').css('border-color', '');
        }

        var systemUserValue = '';
        var Sno = '';
        var paramId = '';
        var paramtr = '';
        var inspfreq = '';
        var rejqty = '';
        var rmks = '';
        

        $('#Addrowfields .test').each(function () {

            Sno = '';
            paramId = '';
            paramtr = '';
            inspfreq = '';
            rejqty = '';
            rmks = '';
            
            $(this).find("td").each(function () {
                SlNo = $(this).find('#SlNo').val();

                if (SlNo != undefined && SlNo.trim().length > 0) {
                    
                    systemUserValue += SlNo + ',';
                }
                paramId = $(this).find('#ParameterId').val();
                if (paramId != undefined && paramId.trim().length > 0) {
                    systemUserValue += paramId + ',';

                }
                paramtr = $(this).find('#Parameter').val();
                if (paramtr != undefined && paramtr.trim().length > 0) {
                    systemUserValue += paramtr + ',';
                }
                inspfreq = $(this).find('#InspectionFrequency').val();
                if (inspfreq != undefined && inspfreq.trim().length > 0) {
                    systemUserValue += inspfreq + ',';

                }
                rejqty = $(this).find('#RejectionQty').val();
                if (rejqty != undefined && rejqty.trim().length > 0) {
                    systemUserValue += rejqty + ',';

                }

                rmks = $(this).find('#GridRemarks').val();
                if (rmks != undefined && rmks.trim().length > 0) {
                    systemUserValue += rmks ;

                }

            });
            systemUserValue += '#';
        });
        var form = systemUserValue;
       

        $.ajax({
            type: 'POST',
            url: '/IMIR/Imir/',
            data: {
                Grid: form,
                ImirId: $('#ImirId').val(),
                ReportNo: $('#ReportNo').val(),
                Date: $('#Date').val(),
                GateEntryNo: $('#GateEntryNo').val(),
                RefInfrepNo: $('#RefInfrepNo').val(),
                GrnNo: $('#GrnNo').val(),
                DcNo: $('#DcNo').val(),
                SupplierMasterId: $('#SupplierMasterId').val(),
                MaterialMasterId: $('#MaterialMasterId').val(),
                ColourMasterId: $('#ColourMasterId').val(),
                Store: $('#Store').val(),
                Uom: $('#Uom').val(),
                InspectionType: $('#InspectionType').val(),
                DcQty: $('#DcQty').val(),
                ReceivedQty: $('#ReceivedQty').val(),
                DcPcs: $('#DcPcs').val(),
                ReceivedPcs: $('#ReceivedPcs').val(),
                QtyInspected: $('#QtyInspected').val(),
                QtyAccepted: $('#QtyAccepted').val(),
                QtyRejected: $('#QtyRejected').val(),
                QtyRejectionPercent: $('#QtyRejectionPercent').val(),
                QtyExcess: $('#QtyExcess').val(),
                PcsInspected: $('#PcsInspected').val(),
                PcsAccepted: $('#PcsAccepted').val(),
                PcsRejected: $('#PcsRejected').val(),
                PcsRejectionPercent: $('#PcsRejectionPercent').val(),
                PcsExcess: $('#PcsExcess').val(),
                Remarks: $('#Remarks').val(),
                InspectedBy: $('#InspectedBy').val(),
                QcExcecutive: $('#QcExcecutive').val(),
            },
            success: function (data) {
                if (data.ImirId != "" || data.ImirId != 0) {
                    alert('Saved Successfully.');
                    location.href = "/IMIR/Imir/";
                    return false;
                }
                else {
                    alert('Saved Process Failed.');
                    location.href = "IMIR/Imir/";
                    return false;
                }
            },
            error: function (ex) {
                alert('Already Exist in the database.');
            }
        })
    }

    function Update() {
        if ($('#ReportNo').val() == "") {
            alert("Please Enter ReportNo.")
            $('#ReportNo').css('border-color', 'red');
            $('#ReportNo').focus();
            return false;
        }
        else {
            $('#ReportNo').css('border-color', '');
        }
        if ($('#Date').val() == "") {
            alert("Please Enter Date.")
            $('#Date').css('border-color', 'red');
            $('#Date').focus();
            return false;
        }
        else {
            $('#Date').css('border-color', '');
        }
        if ($('#GateEntryNo').val() == "") {
            alert("Please Enter GateEntryNo.")
            $('#GateEntryNo').css('border-color', 'red');
            $('#GateEntryNo').focus();
            return false;
        }
        else {
            $('#GateEntryNo').css('border-color', '');
        }
        if ($('#RefInfrepNo').val() == "") {
            alert("Please Enter RefInfrepNo.")
            $('#RefInfrepNo').css('border-color', 'red');
            $('#RefInfrepNo').focus();
            return false;
        }
        else {
            $('#RefInfrepNo').css('border-color', '');
        }
        if ($('#GrnNo').val() == "") {
            alert("Please Enter GrnNo.")
            $('#GrnNo').css('border-color', 'red');
            $('#GrnNo').focus();
            return false;
        }
        else {
            $('#GrnNo').css('border-color', '');
        }
        if ($('#DcNo').val() == "") {
            alert("Please Enter DcNo.")
            $('#DcNo').css('border-color', 'red');
            $('#DcNo').focus();
            return false;
        }
        else {
            $('#DcNo').css('border-color', '');
        }
        if ($('#SupplierMasterId').val() == "") {
            alert("Please Enter Supplier.")
            $('#SupplierMasterId').css('border-color', 'red');
            $('#SupplierMasterId').focus();
            return false;
        }
        else {
            $('#SupplierMasterId').css('border-color', '');
        }
        if ($('#MaterialMasterId').val() == "") {
            alert("Please Enter Material.")
            $('#MaterialMasterId').css('border-color', 'red');
            $('#MaterialMasterId').focus();
            return false;
        }
        else {
            $('#MaterialMasterId').css('border-color', '');
        }
        if ($('#ColourMasterId').val() == "") {
            alert("Please Enter Colour.")
            $('#ColourMasterId').css('border-color', 'red');
            $('#ColourMasterId').focus();
            return false;
        }
        else {
            $('#ColourMasterId').css('border-color', '');
        }
        if ($('#Store').val() == "") {
            alert("Please Enter Store.")
            $('#Store').css('border-color', 'red');
            $('#Store').focus();
            return false;
        }
        else {
            $('#Store').css('border-color', '');
        }
        if ($('#Uom').val() == "") {
            alert("Please Enter Uom.")
            $('#Uom').css('border-color', 'red');
            $('#Uom').focus();
            return false;
        }
        else {
            $('#Uom').css('border-color', '');
        }

        if ($('#InspectionType').val() == "") {
            alert("Please Enter InspectionType.")
            $('#InspectionType').css('border-color', 'red');
            $('#InspectionType').focus();
            return false;
        }
        else {
            $('#InspectionType').css('border-color', '');
        }

        if ($('#DcQty').val() == "") {
            alert("Please Enter DcQty.")
            $('#DcQty').css('border-color', 'red');
            $('#DcQty').focus();
            return false;
        }
        else {
            $('#DcQty').css('border-color', '');
        }

        if ($('#ReceivedQty').val() == "") {
            alert("Please Enter ReceivedQty.")
            $('#ReceivedQty').css('border-color', 'red');
            $('#ReceivedQty').focus();
            return false;
        }
        else {
            $('#ReceivedQty').css('border-color', '');
        }
        if ($('#DcPcs').val() == "") {
            alert("Please Enter DcPcs.")
            $('#DcPcs').css('border-color', 'red');
            $('#DcPcs').focus();
            return false;
        }
        else {
            $('#DcPcs').css('border-color', '');
        }
        if ($('#ReceivedPcs').val() == "") {
            alert("Please Enter ReceivedPcs.")
            $('#ReceivedPcs').css('border-color', 'red');
            $('#ReceivedPcs').focus();
            return false;
        }
        else {
            $('#ReceivedPcs').css('border-color', '');
        }
        if ($('#QtyInspected').val() == "") {
            alert("Please Enter QtyInspected.")
            $('#QtyInspected').css('border-color', 'red');
            $('#QtyInspected').focus();
            return false;
        }
        else {
            $('#QtyInspected').css('border-color', '');
        }
        if ($('#QtyAccepted').val() == "") {
            alert("Please Enter QtyAccepted.")
            $('#QtyAccepted').css('border-color', 'red');
            $('#QtyAccepted').focus();
            return false;
        }
        else {
            $('#QtyAccepted').css('border-color', '');
        }

        if ($('#QtyRejected').val() == "") {
            alert("Please Enter QtyRejected.")
            $('#QtyRejected').css('border-color', 'red');
            $('#QtyRejected').focus();
            return false;
        }
        else {
            $('#QtyRejected').css('border-color', '');
        }

        if ($('#QtyRejectionPercent').val() == "") {
            alert("Please Enter QtyRejection %.")
            $('#QtyRejectionPercent').css('border-color', 'red');
            $('#QtyRejectionPercent').focus();
            return false;
        }
        else {
            $('#QtyRejectionPercent').css('border-color', '');
        }
        if ($('#QtyExcess').val() == "") {
            alert("Please Enter QtyExcess .")
            $('#QtyExcess').css('border-color', 'red');
            $('#QtyExcess').focus();
            return false;
        }
        else {
            $('#QtyExcess').css('border-color', '');
        }
        if ($('#PcsInspected').val() == "") {
            alert("Please Enter PcsInspected .")
            $('#PcsInspected').css('border-color', 'red');
            $('#PcsInspected').focus();
            return false;
        }
        else {
            $('#PcsInspected').css('border-color', '');
        }

        if ($('#PcsAccepted').val() == "") {
            alert("Please Enter PcsAccepted .")
            $('#PcsAccepted').css('border-color', 'red');
            $('#PcsAccepted').focus();
            return false;
        }
        else {
            $('#PcsAccepted').css('border-color', '');
        }

        if ($('#PcsRejected').val() == "") {
            alert("Please Enter PcsRejected .")
            $('#PcsRejected').css('border-color', 'red');
            $('#PcsRejected').focus();
            return false;
        }
        else {
            $('#PcsRejected').css('border-color', '');
        }
        if ($('#PcsRejectionPercent').val() == "") {
            alert("Please Enter PcsRejection % .")
            $('#PcsRejectionPercent').css('border-color', 'red');
            $('#PcsRejectionPercent').focus();
            return false;
        }
        else {
            $('#PcsRejectionPercent').css('border-color', '');
        }
        if ($('#PcsExcess').val() == "") {
            alert("Please Enter PcsExcess .")
            $('#PcsExcess').css('border-color', 'red');
            $('#PcsExcess').focus();
            return false;
        }
        else {
            $('#PcsExcess').css('border-color', '');
        }
        if ($('#Remarks').val() == "") {
            alert("Please Enter Remarks .")
            $('#Remarks').css('border-color', 'red');
            $('#Remarks').focus();
            return false;
        }
        else {
            $('#Remarks').css('border-color', '');
        }
        if ($('#InspectedBy').val() == "") {
            alert("Please Enter InspectedBy .")
            $('#InspectedBy').css('border-color', 'red');
            $('#InspectedBy').focus();
            return false;
        }
        else {
            $('#InspectedBy').css('border-color', '');
        }
        if ($('#QcExcecutive').val() == "") {
            alert("Please Enter QcExcecutive .")
            $('#QcExcecutive').css('border-color', 'red');
            $('#QcExcecutive').focus();
            return false;
        }
        else {
            $('#QcExcecutive').css('border-color', '');
        }

        var systemUserValue = '';
        var Sno = '';
        var paramId = '';
        var paramtr = '';
        var inspfreq = '';
        var rejqty = '';
        var rmks = '';


        $('#Addrowfields .test').each(function () {

            Sno = '';
            paramId = '';
            paramtr = '';
            inspfreq = '';
            rejqty = '';
            rmks = '';

            $(this).find("td").each(function () {
                SlNo = $(this).find('#SlNo').val();

                if (SlNo != undefined && SlNo.trim().length > 0) {
                    
                    systemUserValue += SlNo + ',';
                }
                paramId = $(this).find('#ParameterId').val();
                if (paramId != undefined && paramId.trim().length > 0) {
                    systemUserValue += paramId + ',';

                }
                paramtr = $(this).find('#Parameter').val();
                if (paramtr != undefined && paramtr.trim().length > 0) {
                    systemUserValue += paramtr + ',';
                }
                inspfreq = $(this).find('#InspectionFrequency').val();
                if (inspfreq != undefined && inspfreq.trim().length > 0) {
                    systemUserValue += inspfreq + ',';

                }
                rejqty = $(this).find('#RejectionQty').val();
                if (rejqty != undefined && rejqty.trim().length > 0) {
                    systemUserValue += rejqty + ',';

                }

                rmks = $(this).find('#GridRemarks').val();
                if (rmks != undefined && rmks.trim().length > 0) {
                    systemUserValue += rmks;

                }

            });
            systemUserValue += '#';
        });
        var form = systemUserValue;
       

        $.ajax({
            type: 'POST',
            url: '/IMIR/Update/',
            data: {
                Grid: form,
                ImirId: $('#ImirId').val(),
                ReportNo: $('#ReportNo').val(),
                Date: $('#Date').val(),
                GateEntryNo: $('#GateEntryNo').val(),
                RefInfrepNo: $('#RefInfrepNo').val(),
                GrnNo: $('#GrnNo').val(),
                DcNo: $('#DcNo').val(),
                SupplierMasterId: $('#SupplierMasterId').val(),
                MaterialMasterId: $('#MaterialMasterId').val(),
                ColourMasterId: $('#ColourMasterId').val(),
                Store: $('#Store').val(),
                Uom: $('#Uom').val(),
                InspectionType: $('#InspectionType').val(),
                DcQty: $('#DcQty').val(),
                ReceivedQty: $('#ReceivedQty').val(),
                DcPcs: $('#DcPcs').val(),
                ReceivedPcs: $('#ReceivedPcs').val(),
                QtyInspected: $('#QtyInspected').val(),
                QtyAccepted: $('#QtyAccepted').val(),
                QtyRejected: $('#QtyRejected').val(),
                QtyRejectionPercent: $('#QtyRejectionPercent').val(),
                QtyExcess: $('#QtyExcess').val(),
                PcsInspected: $('#PcsInspected').val(),
                PcsAccepted: $('#PcsAccepted').val(),
                PcsRejected: $('#PcsRejected').val(),
                PcsRejectionPercent: $('#PcsRejectionPercent').val(),
                PcsExcess: $('#PcsExcess').val(),
                Remarks: $('#Remarks').val(),
                InspectedBy: $('#InspectedBy').val(),
                QcExcecutive: $('#QcExcecutive').val(),
            },
            success: function (data) {
                if (data.ImirId != "" || data.ImirId != 0) {
                    alert('Updated Successfully.');
                    location.href = "/IMIR/Imir/";
                    return false;
                }
                else {
                    alert('Updated Failed.');
                    location.href = "IMIR/Imir/";
                    return false;
                }
            },
            error: function (ex) {
                alert('Already Exist in the database.');
            }
        })
    }

    </script>





<h2 class="content-title">Incoming Material Inspection Report </h2>
<div style="width: 100%; float: left;">

    <div class="loader-overlay" style="position:fixed;left:0;right:0;top:0;bottom:0;margin:auto;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index:99;">
        <div id="spinner" style="position:relative;height:64px;width:64px;margin:auto;top:50%;">
            <img src="~/Content/Images/round.gif" id="imgLoading" alt="Loading..." />
        </div>
    </div>
    <div id="tabVehicleWatchList">
        @Html.Action("ImirGrid", "Imir")
    </div>
</div>


