@{
    ViewBag.Title = "Material";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/FormStyle.css" rel="stylesheet" />
}
<style>
    input[type="checkbox"] {
        -webkit-appearance: checkbox;
        border-radius: 0;
    }

    input[type="radio"] {
        -webkit-appearance: radio;
        border-radius: 0;
    }
</style>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/EasyAutocomplete-1.3.5/AutoComplete%20v1.10.2.js"></script>
<script src="~/Scripts/EasyAutocomplete-1.3.5/AutoComplete%20v1.11.4.js"></script>
<script src="~/Scripts/AutoCompleteCommon.js"></script>
<script>


    $('#EditColorPartial').hide();
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $(".loader-overlay").css("display", "block");
        });

        $(document).ajaxComplete(function () {
            $(".loader-overlay").css("display", "none");
        });
        $(window).load(function () {
            $('.loader-overlay').fadeOut('fast');
        });
        $('#EditColorPartial').hide()

    });
    function Save() {

        if ($('#StoreMasterId').val() == "") {
            alert("Please Select Store.")
            $('#StoreMasterId').css('border-color', 'red');
            $('#StoreMasterId').focus();
            return false;
        }
        else {
            $('#StoreMasterId').css('border-color', '');
        }
        if ($('#MaterialCategoryMasterId').val() == "") {
            alert("Please Select Category.")
            $('#MaterialCategoryMasterId').css('border-color', 'red');
            $('#MaterialCategoryMasterId').focus();
            return false;
        }
        else {
            $('#MaterialCategoryMasterId').css('border-color', '');
        }
        if ($('#MaterialGroupMasterId').val() == "") {
            alert("Please Select Group.")
            $('#MaterialGroupMasterId').css('border-color', 'red');
            $('#MaterialGroupMasterId').focus();
            return false;
        }
        else {
            $('#MaterialGroupMasterId').css('border-color', '');
        }
        if ($('#SubGroup').val() == "") {
            alert("Please Select SubGroup.")
            $('#SubGroup').css('border-color', 'red');
            $('#SubGroup').focus();
            return false;
        }
        else {
            $('#SubGroup').css('border-color', '');
        }
        if ($('#MaterialName').val() == "") {
            alert("Please type material name.")
            $('#MaterialName').css('border-color', 'red');
            $('#MaterialName').focus();
            return false;
        }
        else {
            $('#MaterialName').css('border-color', '');
        }
        if ($('#ColorMasterId').val() == "") {
            alert("Please select material color.")
            $('#ColorMasterId').css('border-color', 'red');
            $('#ColorMasterId').focus();
            return false;
        }
        else {
            $('#ColorMasterId').css('border-color', '');
        }
        
        if ($('#Decimals').val() == "" || $('#Decimals').val() == 0) {
            alert("Please Enter Decimals.")
            $('#Decimals').css('border-color', 'red');
            $('#Decimals').focus();
            return false;
        }
        else {
            $('#Decimals').css('border-color', '');
        }

        if ($('#Uom').val() == "") {
            alert("Please Select UOM.")
            $('#Uom').css('border-color', 'red');
            $('#Uom').focus();
            return false;
        }
        else {
            $('#Uom').css('border-color', '');
        }

        //if ($("#SizeRangeMasterId").val() == "") {
        //    if ($('#Price').val() == "" || $('#Price').val() == 0) {
        //        alert("Please Enter Price.")
        //        $('#Price').css('border-color', 'red');
        //        $('#Price').focus();
        //        return false;
        //    }
        //    else {
        //        $('#Price').css('border-color', '');
        //    }
        //}
        //if ($('#CurrencyMasterId').val() == "") {
        //    alert("Please Select Currency.")
        //    $('#CurrencyMasterId').css('border-color', 'red');
        //    $('#CurrencyMasterId').focus();
        //    return false;
        //}
        //else {
        //    $('#CurrencyMasterId').css('border-color', '');
        //}
        //if ($('#ManufacturerMasterId').val() == "") {
        //    alert("Please Select Manufacture Nmae.")
        //    $('#ManufacturerMasterId').css('border-color', 'red');
        //    $('#ManufacturerMasterId').focus();
        //    return false;
        //}
        //else {
        //    $('#ManufacturerMasterId').css('border-color', '');
        //}

        var bool = $('#IsSecondaryPackage').is(':checked');
        var uom_bool = $('#componentcheck1sds').is(':checked');
        var IsPrimaryPackage_bool = $('#IsPrimaryPackage').is(':checked');

        if (uom_bool == true) {

            if ($('#PacketType').val() == "") {
                alert("Please Select Packet Type.")
                $('#PacketType').css('border-color', 'red');
                $('#PacketType').focus();
                return false;
            }
            else {
                $('#PacketType').css('border-color', '');
            }
        }
        if (uom_bool == true) {
            if ($('#PacketTypePrice').val() == "" || $('#PacketTypePrice').val() == 0) {
                alert("Please Enter Packet Type Price.")
                $('#PacketTypePrice').css('border-color', 'red');
                $('#PacketTypePrice').focus();
                return false;
            }
            else {
                $('#PacketTypePrice').css('border-color', '');
            }
        }
        if (uom_bool == true) {
            if ($('#PacketCurrency').val() == "") {
                alert("Please Select PacketCurrency.")
                $('#PacketCurrency').css('border-color', 'red');
                $('#PacketCurrency').focus();
                return false;
            }
            else {
                $('#PacketCurrency').css('border-color', '');
            }
        }
        if ($('#TaxCategory').val() == "") {
            alert("Please Select Taxcode.")
            $('#TaxCategory').css('border-color', 'red');
            $('#TaxCategory').focus();
            return false;
        }
        else {
            $('#TaxCategory').css('border-color', '');
        }
        if (IsPrimaryPackage_bool == true) {
            if ($('#PrimaryPackage').val() == "") {
                alert("Please Select PrimaryPackage.")
                $('#PrimaryPackage').css('border-color', 'red');
                $('#PrimaryPackage').focus();
                return false;
            }
            else {
                $('#PrimaryPackage').css('border-color', '');
            }
        }
        if (IsPrimaryPackage_bool == true) {
            if ($('#SecondaryPackage').val() == "") {
                alert("Please Select SecondaryPackage.")
                $('#SecondaryPackage').css('border-color', 'red');
                $('#SecondaryPackage').focus();
                return false;
            }
            else {
                $('#SecondaryPackage').css('border-color', '');
            }
        }

        if (bool == true) {
            if ($('#PurchasePrimary').val() == "" || $('#PurchasePrimary').val() == 0) {
                alert("Please Enter Primery.")
                $('#PurchasePrimary').css('border-color', 'red');
                $('#PurchasePrimary').focus();
                return false;
            }
            else {
                $('#PurchasePrimary').css('border-color', '');
            }
        }
        if (bool == true) {
            if ($('#PrimaryUnit').val() == "") {
                alert("Please Select PrimaryUnit.")
                $('#PrimaryUnit').css('border-color', 'red');
                $('#PrimaryUnit').focus();
                return false;
            }
            else {
                $('#PrimaryUnit').css('border-color', '');
            }
        }

        if (bool == true) {
            if ($('#PurchasePacket').val() == "" || ($('#PurchasePacket').val() == 0)) {
                alert("Please Enter Packet.")
                $('#PurchasePacket').css('border-color', 'red');
                $('#PurchasePacket').focus();
                return false;
            }
            else {
                $('#PurchasePacket').css('border-color', '');
            }
        }
        if (bool == true) {
            if ($('#PacketUnit').val() == "") {
                alert("Please Select PacketUnit.")
                $('#PacketUnit').css('border-color', 'red');
                $('#PacketUnit').focus();
                return false;
            }
            else {
                $('#PacketUnit').css('border-color', '');
            }
        }
        if (bool == true) {
            if ($('#PacketUnitType').val() == "") {
                alert("Please Select Packet Unit Type.")
                $('#PacketUnitType').css('border-color', 'red');
                $('#PacketUnitType').focus();
                return false;
            }
            else {
                $('#PacketUnitType').css('border-color', '');
            }
        }
        if ($("#isImport").is(':checked') == false && $("#isImportCustomer").is(':checked') == false && $("#isLocal").is(':checked') == false) {
            alert("Please select material type .");
            $('#isLocal').css('border-color', 'red');
            $('#isLocal').focus();
            return false;
        }
        else {
            $('#isLocal').css('border-color', '');
        }


        if ($("#isImport").is(':checked') == true) {
            if ($('#ImportPrice').val() == "") {
                alert("Please enter import material price.")
                $('#ImportPrice').css('border-color', 'red');
                $('#ImportPrice').focus();
                return false;
            }
            else {
                $('#ImportPrice').css('border-color', '');
            }
            if ($('#importManafactureName').val() == "") {
                alert("Please select import manufacture.")
                $('#importManafactureName').css('border-color', 'red');
                $('#importManafactureName').focus();
                return false;
            }
            else {
                $('#importManafactureName').css('border-color', '');
            }
            if ($('#importCurrency').val() == "") {
                alert("Please select import currency.")
                $('#importCurrency').css('border-color', 'red');
                $('#importCurrency').focus();
                return false;
            }
            else {
                $('#importCurrency').css('border-color', '');
            }
        }

        if ($("#isImportCustomer").is(':checked') == true) {
            if ($('#CustomerImportPrice').val() == "") {
                alert("Please enter customer import material price.")
                $('#CustomerImportPrice').css('border-color', 'red');
                $('#CustomerImportPrice').focus();
                return false;
            }
            else {
                $('#CustomerImportPrice').css('border-color', '');
            }
            if ($('#CustomerManafactureName').val() == "") {
                alert("Please select Customer import manufacture.")
                $('#CustomerManafactureName').css('border-color', 'red');
                $('#CustomerManafactureName').focus();
                return false;
            }
            else {
                $('#importManafactureName').css('border-color', '');
            }
            if ($('#CuomerImportCurrencyMasterId').val() == "") {
                alert("Please select customer import currency.")
                $('#CuomerImportCurrencyMasterId').css('border-color', 'red');
                $('#CuomerImportCurrencyMasterId').focus();
                return false;
            }
            else {
                $('#CuomerImportCurrencyMasterId').css('border-color', '');
            }
        }
        if ($("#isLocal").is(':checked') == true) {
            if ($('#Price').val() == "") {
                alert("Please enter price.")
                $('#Price').css('border-color', 'red');
                $('#Price').focus();
                return false;
            }
            else {
                $('#Price').css('border-color', '');
            }
            if ($('#ManufacturerMasterId').val() == "") {
                alert("Please select import manufacture.")
                $('#ManufacturerMasterId').css('border-color', 'red');
                $('#ManufacturerMasterId').focus();
                return false;
            }
            else {
                $('#ManufacturerMasterId').css('border-color', '');
            }
            if ($('#CurrencyMasterId').val() == "") {
                alert("Please select currency.")
                $('#CurrencyMasterId').css('border-color', 'red');
                $('#CurrencyMasterId').focus();
                return false;
            }
            else {
                $('#CurrencyMasterId').css('border-color', '');
            }
        }
        var qtyCount = 0;
        var qtyArr = [];
        var size = "";
        $('#sizeRangeTable tbody tr').find('.SizeRangeRefValue').each(function () {

            size += $(this).text() + ",";

        });
        size = size.slice(0, -1);
        var Qty_ = "";
        $('#sizeRangeTable tbody tr').find('.quantity').each(function () {
            Qty_ += $(this).val() + ",";

        });
        Qty_ = Qty_.slice(0, -1);
        var rate = "";
        $('#sizeRangeTable tbody tr').find('.Rates').each(function () {

            rate += $(this).val() + ",";

        });
        rate = rate.slice(0, -1);

        $.ajax({
            type: 'POST',
            url: '/MaterialMaster/Material',
            data: {
                StoreMasterId: $('#StoreMasterId').val(),
                MaterialMasterId: $('#MaterialMasterId').val(),
                MaterialCategoryMasterId: $('#MaterialCategoryMasterId').val(),
                MaterialGroupMasterId: $('#MaterialGroupMasterId').val(),
                SubGroup: $('#SubGroup').val(),
                MaterialCode: $('#MaterialCode').val().trim(),
                MaterialName: $('#MaterialName').val(),
                OptionMaterialValue: $('#OptionMaterialValue').val(),
                ColorMasterId: $('#ddlColorMasterId').find('#ColorMasterId').val(),
                MachineryMasterId: $('#MachineryMasterId').val(),
                GradeMasterId: $('#GradeMasterId').val(),
                SubstanceMasterId: $('#SubstanceMasterId').val(),
                LeatherSizeMasterId: $('#LeatherSizeMasterId').val(),
                OriginMasterId: $('#OriginMasterId').val(),
                WeightInKg: $('#WeightInKg').val(),
                SizeRangeMasterId: $('#SizeRangeMasterId').val(),
                Decimals: $('#Decimals').val(),
                Uom: $('#Uom').val(),
                UomUnit: $('#UomUnit').val(),
                Price: $('#Price').val(),
                CurrencyMasterId: $('#CurrencyMasterId').val(),
                ManufacturerMasterId: $('#ManufacturerMasterId').val(),
                PacketType: $('#PacketType').val(),
                PacketTypePrice: $('#PacketTypePrice').val(),
                PacketCurrency: $('#PacketCurrency').val(),
                TaxCategory: $('#TaxCategory').val(),
                PrimaryPackage: $('#PrimaryPackage').val(),
                SecondaryPackage: $('#SecondaryPackage').val(),
                LeadTime: $('#LeadTime').val(),
                MaxRoLevel: $('#MaxRoLevel').val(),
                MinRoLevel: $('#MinRoLevel').val(),
                ReOrderLevel: $('#ReOrderLevel').val(),
                Expiry: $('#Expiry').val(),
                Barcode: $('#Barcode').val(),
                PurchasePrimary: $('#PurchasePrimary').val(),
                PurchasePacket: $('#PurchasePacket').val(),
                PrimaryUnit: $('#PrimaryUnit').val(),
                PacketUnit: $('#PacketUnit').val(),
                PacketUnitType: $('#PacketUnitType').val(),
                IsActive: $('#IsActive').is(":checked"),
                IsCustomerSupplied: $('#IsCustomerSupplied').is(":checked"),
                componentcheck1sds: $('#componentcheck1sds').is(":checked"),

                IsImportedMaterial: $('#IsImportedMaterial').is(":checked"),
                IsApplicable: $('#IsApplicable').is(":checked"),
                IsPurchase: $('#IsPurchase').is(":checked"),
                IsIssues: $('#IsIssues').is(":checked"),
                IsLocalMaterial: $('#IsLocalMaterial').is(":checked"),
                IsCriticalMaterial: $('#IsCriticalMaterial').is(":checked"),
                IsAllowNegativeStock: $('#IsAllowNegativeStock').is(":checked"),
                IsLotNumberTracking: $('#IsLotNumberTracking').is(":checked"),
                CuttingIssueTypeID: $('#CuttingIssueTypeID').val(),
                SameSizeForAllSize: $('#SameSizeForAllSize').is(':checked'),
                IsIssueStrictly: $('#IsIssueStrictly').is(":checked"),
                IsPrimaryPackage: $('#IsPrimaryPackage').is(":checked"),
                IsSecondaryPackage: $('#IsSecondaryPackage').is(":checked"),
                ImportPrice: $("#ImportPrice").val(),
                importCurrency: $("#importCurrency").val(),
                importManafactureName: $("#importManafactureName").val(),
                isImport: $('#isImport').is(":checked"),
                isLocal: $('#isLocal').is(":checked"),
                isImportCustomer: $('#isImportCustomer').is(":checked"),
                CustomerImportPrice: $('#CustomerImportPrice').val(),
                CustomerManafactureName: $('#CustomerManafactureName').val(),
                CuomerImportCurrencyMasterId: $('#CuomerImportCurrencyMasterId').val(),
                HSNCode: $('#HSNCode').val(),
                BuyerItemCode: $('#BuyerItemCode').val(),
                Size: size,
                Qty: Qty_,
                Rate: rate

            },
            success: function (data) {

                if (data.Status == "Saved") {
                    alert('Saved Successfully.');
                    location.href = "/MaterialMaster/Material";
                    return false;
                }
                else if (data.Status == "Updated") {
                    alert('Updated Successfully.');
                    location.href = "/MaterialMaster/Material";
                    return false;
                }
                else if (data.Status == "Already Existed") {
                    alert('Already Existed.');

                    return false;
                }
                else {
                    alert('Save process Failed.');

                    return false;
                }

            },
            error: function (ex) {
                alert('Already Exist in the database.');
            }
        });
    }
    function Update(arg) {
        if ($('#StoreMasterId').val() == "") {
            alert("Please Select Store.")
            $('#StoreMasterId').css('border-color', 'red');
            $('#StoreMasterId').focus();
            return false;
        }
        else {
            $('#StoreMasterId').css('border-color', '');
        }
        if ($('#MaterialCategoryMasterId').val() == "") {
            alert("Please Select Category.")
            $('#MaterialCategoryMasterId').css('border-color', 'red');
            $('#MaterialCategoryMasterId').focus();
            return false;
        }
        else {
            $('#MaterialCategoryMasterId').css('border-color', '');
        }
        if ($('#MaterialGroupMasterId').val() == "") {
            alert("Please Select Group.")
            $('#MaterialGroupMasterId').css('border-color', 'red');
            $('#MaterialGroupMasterId').focus();
            return false;
        }
        else {
            $('#MaterialGroupMasterId').css('border-color', '');
        }
        if ($('#SubGroup').val() == "") {
            alert("Please Select SubGroup.")
            $('#SubGroup').css('border-color', 'red');
            $('#SubGroup').focus();
            return false;
        }
        else {
            $('#SubGroup').css('border-color', '');
        }
        if ($('#MaterialName').val() == "") {
            alert("Please type material name.")
            $('#MaterialName').css('border-color', 'red');
            $('#MaterialName').focus();
            return false;
        }
        else {
            $('#MaterialName').css('border-color', '');
        }
        if ($('#ColorMasterId').val() == "" || $('#ColorMasterId').val() == "0") {
            alert("Please type material color.")
            $('#ColorMasterId').css('border-color', 'red');
            $('#ColorMasterId').focus();
            return false;
        }
        else {
            $('#ColorMasterId').css('border-color', '');
        }


        if ($('#Decimals').val() == "" || $('#Decimals').val() == 0) {
            alert("Please Enter Decimals.")
            $('#Decimals').css('border-color', 'red');
            $('#Decimals').focus();
            return false;
        }
        else {
            $('#Decimals').css('border-color', '');
        }

        if ($('#Uom').val() == "") {
            alert("Please Select UOM.")
            $('#Uom').css('border-color', 'red');
            $('#Uom').focus();
            return false;
        }
        else {
            $('#Uom').css('border-color', '');
        }

        if ($('#Price').val() == "" || $('#Price').val() == 0) {
            alert("Please Enter Price.")
            $('#Price').css('border-color', 'red');
            $('#Price').focus();
            return false;
        }
        else {
            $('#Price').css('border-color', '');
        }
        if ($('#CurrencyMasterId').val() == "") {
            alert("Please Select Currency.")
            $('#CurrencyMasterId').css('border-color', 'red');
            $('#CurrencyMasterId').focus();
            return false;
        }
        else {
            $('#CurrencyMasterId').css('border-color', '');
        }
        if ($('#ManufacturerMasterId').val() == "") {
            alert("Please Select Manufacture Nmae.")
            $('#ManufacturerMasterId').css('border-color', 'red');
            $('#ManufacturerMasterId').focus();
            return false;
        }
        else {
            $('#ManufacturerMasterId').css('border-color', '');
        }

        var bool = $('#IsSecondaryPackage').is(':checked');
        var uom_bool = $('#componentcheck1sds').is(':checked');
        var IsPrimaryPackage_bool = $('#IsPrimaryPackage').is(':checked');

        if (uom_bool == true) {

            if ($('#PacketType').val() == "") {
                alert("Please Select Packet Type.")
                $('#PacketType').css('border-color', 'red');
                $('#PacketType').focus();
                return false;
            }
            else {
                $('#PacketType').css('border-color', '');
            }
        }
        if (uom_bool == true) {
            if ($('#PacketTypePrice').val() == "" || $('#PacketTypePrice').val() == 0) {
                alert("Please Enter Packet Type Price.")
                $('#PacketTypePrice').css('border-color', 'red');
                $('#PacketTypePrice').focus();
                return false;
            }
            else {
                $('#PacketTypePrice').css('border-color', '');
            }
        }
        if (uom_bool == true) {
            if ($('#PacketCurrency').val() == "") {
                alert("Please Select PacketCurrency.")
                $('#PacketCurrency').css('border-color', 'red');
                $('#PacketCurrency').focus();
                return false;
            }
            else {
                $('#PacketCurrency').css('border-color', '');
            }
        }
        if ($('#TaxCategory').val() == "") {
            alert("Please Select Taxcode.")
            $('#TaxCategory').css('border-color', 'red');
            $('#TaxCategory').focus();
            return false;
        }
        else {
            $('#TaxCategory').css('border-color', '');
        }
        if (IsPrimaryPackage_bool == true) {
            if ($('#PrimaryPackage').val() == "") {
                alert("Please Select PrimaryPackage.")
                $('#PrimaryPackage').css('border-color', 'red');
                $('#PrimaryPackage').focus();
                return false;
            }
            else {
                $('#PrimaryPackage').css('border-color', '');
            }
        }
        if (IsPrimaryPackage_bool == true) {
            if ($('#SecondaryPackage').val() == "") {
                alert("Please Select SecondaryPackage.")
                $('#SecondaryPackage').css('border-color', 'red');
                $('#SecondaryPackage').focus();
                return false;
            }
            else {
                $('#SecondaryPackage').css('border-color', '');
            }
        }




        if (bool == true) {
            if ($('#PurchasePrimary').val() == "" || $('#PurchasePrimary').val() == 0) {
                alert("Please Enter Primery.")
                $('#PurchasePrimary').css('border-color', 'red');
                $('#PurchasePrimary').focus();
                return false;
            }
            else {
                $('#PurchasePrimary').css('border-color', '');
            }
        }
        if (bool == true) {
            if ($('#PrimaryUnit').val() == "") {
                alert("Please Select PrimaryUnit.")
                $('#PrimaryUnit').css('border-color', 'red');
                $('#PrimaryUnit').focus();
                return false;
            }
            else {
                $('#PrimaryUnit').css('border-color', '');
            }
        }
        if (bool == true) {
            if ($('#PurchasePacket').val() == "" || ($('#PurchasePacket').val() == 0)) {
                alert("Please Enter Packet.")
                $('#PurchasePacket').css('border-color', 'red');
                $('#PurchasePacket').focus();
                return false;
            }
            else {
                $('#PurchasePacket').css('border-color', '');
            }
        }
        if (bool == true) {
            if ($('#PacketUnit').val() == "") {
                alert("Please Select PacketUnit.")
                $('#PacketUnit').css('border-color', 'red');
                $('#PacketUnit').focus();
                return false;
            }
            else {
                $('#PacketUnit').css('border-color', '');
            }
        }
        if (bool == true) {
            if ($('#PacketUnitType').val() == "") {
                alert("Please Select Packet Unit Type.")
                $('#PacketUnitType').css('border-color', 'red');
                $('#PacketUnitType').focus();
                return false;
            }
            else {
                $('#PacketUnitType').css('border-color', '');
            }
        }




        $.ajax({
            type: 'POST',
            url: '/MaterialMaster/Update',
            data: {
                StoreMasterId: $('#StoreMasterId').val(),
                MaterialMasterId: $('#MaterialMasterId').val(),
                MaterialCategoryMasterId: $('#MaterialCategoryMasterId').val(),
                MaterialGroupMasterId: $('#MaterialGroupMasterId').val(),
                SubGroup: $('#SubGroup').val(),
                MaterialCode: $('#MaterialCode').val().trim(),
                MaterialName: $('#MaterialName').val(),
                OptionMaterialValue: $('#OptionMaterialValue').val(),
                ColorMasterId: $('#ColorMasterId').val(),
                MachineryMasterId: $('#MachineryMasterId').val(),
                GradeMasterId: $('#GradeMasterId').val(),
                SubstanceMasterId: $('#SubstanceMasterId').val(),
                LeatherSizeMasterId: $('#LeatherSizeMasterId').val(),
                OriginMasterId: $('#OriginMasterId').val(),
                WeightInKg: $('#WeightInKg').val(),
                SizeRangeMasterId: $('#SizeRangeMasterId').val(),
                Decimals: $('#Decimals').val(),
                Uom: $('#Uom').val(),
                UomUnit: $('#UomUnit').val(),
                Price: $('#Price').val(),
                CurrencyMasterId: $('#CurrencyMasterId').val(),
                ManufacturerMasterId: $('#ManufacturerMasterId').val(),
                PacketType: $('#PacketType').val(),
                PacketTypePrice: $('#PacketTypePrice').val(),
                PacketCurrency: $('#PacketCurrency').val(),
                TaxCategory: $('#TaxCategory').val(),
                PrimaryPackage: $('#PrimaryPackage').val(),
                SecondaryPackage: $('#SecondaryPackage').val(),
                LeadTime: $('#LeadTime').val(),
                MaxRoLevel: $('#MaxRoLevel').val(),
                MinRoLevel: $('#MinRoLevel').val(),
                ReOrderLevel: $('#ReOrderLevel').val(),
                Expiry: $('#Expiry').val(),
                Barcode: $('#Barcode').val(),
                PurchasePrimary: $('#PurchasePrimary').val(),
                PurchasePacket: $('#PurchasePacket').val(),
                PrimaryUnit: $('#PrimaryUnit').val(),
                PacketUnit: $('#PacketUnit').val(),
                PacketUnitType: $('#PacketUnitType').val(),
                IsActive: $('#IsActive').is(":checked"),
                componentcheck1sds: $('#componentcheck1sds').is(":checked"),

                IsCustomerSupplied: $('#IsCustomerSupplied').is(":checked"),
                IsImportedMaterial: $('#IsImportedMaterial').is(":checked"),
                IsApplicable: $('#IsApplicable').is(":checked"),
                IsPurchase: $('#IsPurchase').is(":checked"),
                IsIssues: $('#IsIssues').is(":checked"),
                IsLocalMaterial: $('#IsLocalMaterial').is(":checked"),
                IsCriticalMaterial: $('#IsCriticalMaterial').is(":checked"),
                IsAllowNegativeStock: $('#IsAllowNegativeStock').is(":checked"),
                IsLotNumberTracking: $('#IsLotNumberTracking').is(":checked"),
                IsIssueStrictly: $('#IsIssueStrictly').is(":checked"),
                IsPrimaryPackage: $('#IsPrimaryPackage').is(":checked"),
                IsSecondaryPackage: $('#IsSecondaryPackage').is(":checked"),
                ImportPrice: $("#ImportPrice").val(),
                importCurrency: $("#importCurrency").val(),
                importManafactureName: $("#importManafactureName").val(),
                isImport: $('#isImport').is(":checked"),
                isLocal: $('#isLocal').is(":checked"),
                isImportCustomer: $('#isImportCustomer').is(":checked"),
                CustomerImportPrice: $('#CustomerImportPrice').val(),
                CustomerManafactureName: $('#CustomerManafactureName').val(),
                CuomerImportCurrencyMasterId: $('#CuomerImportCurrencyMasterId').val(),
                HSNCode: $('#HSNCode').val(),
                BuyerItemCode: $('#BuyerItemCode').val(),
            },
            success: function (data) {
                if (data.MaterialMasterId != "" || data.MaterialMasterId != 0) {
                    alert('Updated Successfully.');
                    location.href = "/MaterialMaster/Material";
                    return false;
                }
                else {
                    alert('Updation failed.');
                    location.href = "/MaterialMaster/Material";
                    return false;
                }

            },
            error: function (ex) {
                alert('Already Exist in the database.');
            }
        });
    }
</script>

<h2 class="content-title">Material</h2>

<div style="width: 100%; float: left;">
    <div class="loader-overlay" style="position:fixed;left:0;right:0;top:0;bottom:0;margin:auto;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index:99;">
        <div id="spinner" style="position:relative;height:64px;width:64px;margin:auto;top:50%;">
            <img src="~/Content/Images/round.gif" id="imgLoading" alt="Loading..." />
        </div>
    </div>
    <div id="tabVehicleWatchList">
        @Html.Action("MaterialMasterGrid", "MaterialMaster")
    </div>

</div>
