@{
    ViewBag.Title = "OperationMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/FormStyle.css" rel="stylesheet" />
}


<script>
    
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $(".loader-overlay").css("display", "block");
        });

        $(document).ajaxComplete(function () {
            $(".loader-overlay").css("display", "none");
        });
        $(window).load(function () {
            $('.loader-overlay').fadeOut('fast');
        });

        $("#EditColorPartial").hide();
    });
    function Save() {
        if ($('#OperationTypeCode').val() == "") {
            alert("Please Enter Operation type.")
            $('#OperationTypeCode').css('border-color', 'red');
            $('#OperationTypeCode').focus();
            return false;
        }
        else {
            $('#OperationTypeCode').css('border-color', '');
        }
        if ($('#OperationName').val() == "") {
            alert("Please Enter Operation Name.")
            $('#OperationName').css('border-color', 'red');
            $('#OperationName').focus();
            return false;
        }
        else {
            $('#OperationName').css('border-color', '');
        }


        $.ajax({
            type: 'POST',
            url: '/OperationMaster/OperationMaster',
            data: {
                OperationTypeCode: $('#OperationTypeCode').val(),
                OperationName: $('#OperationName').val(),
                OperationMasterId: $('#OperationMasterId').val()
            },

            success: function (data) {
                if (data.OperationMasterId != "" || data.OperationMasterId != 0) {
                    alert('Saved Successfully.');
                    location.href = "/OperationMaster/OperationMaster";
                    return false;
                }
                else if (data.OperationMasterId == 0 && data.OperationName != "") {
                    alert('Already Exist in the database.');
                    return false;
                }
                else {
                    alert('Save process Failed.');
                    location.href = "/OperationMaster/OperationMaster";
                    return false;
                }

            },
            error: function (ex) {
                alert('Already Exist in the database.');
            }
        });
    }
    function Update(arg) {

        if ($('#OperationTypeCode').val() == "") {
            alert("Please Enter Operation type.")
            $('#OperationTypeCode').css('border-color', 'red');
            $('#OperationTypeCode').focus();
            return false;
        }
        else {
            $('#OperationTypeCode').css('border-color', '');
        }
        if ($('#OperationName').val() == "") {
            alert("Please Enter Operation Name.")
            $('#OperationName').css('border-color', 'red');
            $('#OperationName').focus();
            return false;
        }
        else {
            $('#OperationName').css('border-color', '');
        }


        $.ajax({
            type: 'POST',
            url: '/OperationMaster/Update',
            data: {
                OperationTypeCode: $('#OperationTypeCode').val(),
                OperationName: $('#OperationName').val(),

                OperationMasterId: $('#OperationMasterId').val()
            },
            success: function (data) {
                if (data.OperationMasterId != "" || data.OperationMasterId != 0) {
                    alert('Updated Successfully.');
                    location.href = "/OperationMaster/OperationMaster";
                    return false;
                }
                else {
                    alert('Updation failed.');
                    location.href = "/OperationMaster/OperationMaster";
                    return false;
                }

            },
            error: function (ex) {
                alert('Already Exist in the database.');
            }
        });
    }

</script>
<h2 class="content-title">Operation Master</h2>
<div style="width: 100%; float: left;">
    <div class="loader-overlay" style="position:fixed;left:0;right:0;top:0;bottom:0;margin:auto;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index:99;">
        <div id="spinner" style="position:relative;height:64px;width:64px;margin:auto;top:50%;">
            <img src="~/Content/Images/round.gif" id="imgLoading" alt="Loading..." />
        </div>
    </div>
    <div id="tabVehicleWatchList">
        @Html.Action("OperationMasterGrid", "OperationMaster")
    </div>
</div>
