<!DOCTYPE html>
<html>

<head>
    <title>Order Leather to Leather 2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/Scripts/Jobwork/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Scripts/Jobwork/css/style.css">
    <link rel="stylesheet" href="~/Scripts/Jobwork/css/responsive.css">

    <link rel="stylesheet" href="~/Scripts/Jobwork/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link href="~/Scripts/Jobwork/css/datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/Jobwork/js/jquery.js"></script>
    <script src="~/Scripts/Jobwork/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Jobwork/js/script.js"></script>
    <script src="~/Scripts/Jobwork/js/jquery.mCustomScrollbar.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />


    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/chosen/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/Scripts/chosen/chosen.jquery.js"></script>
    <script src="~/Scripts/Jobwork/js/Sweetalert.js"></script>
</head>

<body class="dashboard">
    <div class="loader-overlay" style="position:fixed;left:0;right:0;top:0;bottom:0;margin:auto;width:100%;height:100%;background:rgba(255, 255, 255, 0.7);z-index:99;">
        <div id="spinner" style="position: absolute;height: 250px;width: 250px;margin: auto;top: 0;bottom: 0;left: 0;right: 0;">
            <img style="width:100%;" src="~/Content/Images/Loadedimage.gif" id="imgLoading" alt="Loading..." />
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="left-side-container left-menu">
                <div class="col-xs-12 logo-section-background">
                    <div class="logo-section">
                        <a href="#" class="menu-logo">
                            <img src="~/Scripts/Jobwork/images/logo.png" alt="logo" title="logo">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 no-padding dashboard-menu1 mCustomScrollbar light" data-mcs-theme="minimal-dark">
                    <div class="dashboard-menu col-xs-12 no-padding home_desk">
                        <aside>
                            <ul id="father list-unstyled">
                                <a href="/Accounts/Index">
                                    <li class="accord lft_back">
                                        <i   class="fas fa-chevron-left"></i>Back
                                    </li>
                                </a>
                                <a href="/ProcessMaster/ProcessMaster" class="menuli ProcessMaster">
                                    <li class="accord">
                                        ProcessMaster
                                    </li>
                                </a>
                                <a href="/StageMaster_Job/StageMaster" class="active menuli StageMaster_Job">
                                    <li class="accord">
                                        Stage Master
                                    </li>
                                </a>
                                <a href="/OperationMaster_Job/OperationMaster" class="menuli OperationMaster_Job">
                                    <li class="accord">
                                        Operation Jobwork
                                    </li>
                                </a>
                                <a href="/JobWorkMaster/JobWorkMaster" class="menuli JobWorkMaster">
                                    <li class="accord">
                                        Jobwork Master
                                    </li>
                                </a>
                                <a href="/Jw_ApprovedPrice/Jw_ApprovedPrice" class="menuli Jw_ApprovedPrice">
                                    <li class="accord">
                                        JW Approved Price list
                                    </li>
                                </a>
                                <a href="/UnitConvertion/UnitConvertionMaster" class="menuli UnitConvertion">
                                    <li class="accord">
                                        Unit Convertion
                                    </li>
                                </a>
                                <a href="/Job_BOMMaterialList/Job_BOMMaterialListMaster" class="menuli Job_BOMMaterialList">
                                    <li class="accord">
                                        Job BOM
                                    </li>
                                </a>
                                <a href="/JobOtherWork/JobOtherWork" class="menuli JobOtherWork">
                                    <li class="accord">
                                        Job Other Work
                                    </li>
                                </a>
                                <a href="/JobSimpleMrp/JobSimpleMrp" class="menuli JobSimpleMrp">
                                    <li class="accord">
                                        Job Simple Mrp
                                    </li>
                                </a>
                                <a href="/JobSheet_pair/JobSheet_pairMaster" class="menuli JobSheet_pair">
                                    <li class="accord">
                                        Sheet to pairs
                                    </li>
                                </a>
                                <a href="/JobLeather_leather/JobLeather_leatherMaster" class="menuli JobLeather_leather">
                                    <li class="accord">
                                        Leather to Leather
                                    </li>
                                </a>
                                <a href="/ProductionJobwork_/ProductionJobworkMaster" class="menuli JobLeather_leather">
                                    <li class="accord">
                                        Production Jobwork Master
                                    </li>
                                </a>
                                <a href="/JobWorkIssues/JobWorkIssues" class="menuli JobWorkIssues">
                                    <li class="accord">
                                        JobWork Issues
                                    </li>
                                </a>
                                <a href="/JobWorkOutward/JobWorkOutward" class="menuli JobWorkOutward">
                                    <li class="accord">
                                        Outward Gate
                                    </li>
                                </a>
                                <a href="/JobGateInwards/JobGateInwardsMaster" class="menuli JobGateInwards">
                                    <li class="accord">
                                        Job Gate Inwards
                                    </li>
                                </a>
                                <a href="/JobWorkTransaction/JobWorkTransaction" class="menuli JobWorkTransaction">
                                    <li class="accord">
                                        Job GRN
                                    </li>
                                </a>
                                <a href="/ProductionQualityControl/Qc_Control" class="menuli ProductionQualityControl">
                                    <li class="accord">
                                       Quality control
                                    </li>
                                </a>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>

            <div class="right-side-container">
                <div class="col-xs-12 top-header-background no-padding">
                    <div class="top-header">
                        <div class="nav-icon1">
                            <img src="~/Scripts/Jobwork/images/nav-ic.png">
                        </div>
                        <div class="header_body_cent col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="dash-text">
                                <h1>Material Management System</h1>
                            </div>
                            <div class="notify-ic">
                                @using (Html.BeginForm("LogOut", "Accounts", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <img src="~/Scripts/Jobwork/images/logout.png" class="img-responsive">
                                    </a>
                                }
                                </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 head_txt" style="text-align: right;">

                        </div>
                    </div>
                </div>

                <div class="home_dashboard col-xs-12 dashboard-content-pad dashboard-content-pad-scroll mCustomScrollbar light" data-mcs-theme="minimal-dark">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
   
    @*<script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        document.getElementById("myDIV").style.display = "block";
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>*@
    <script>
        $("ul a").on("click", function () {
            debugger
            $("a").siblings().removeClass("active");
            $(this).addClass("active");
        });
        $(document).ready(function () {
          
            $(".menuli").removeClass("active");
            $("." + '@Session["tagname"].ToString()').addClass("active");
        });
        $("#myform").submit(function (e) {

            //prevent Default functionality
            e.preventDefault();

            //get the action-url of the form
            var actionurl = e.currentTarget.action;

            //do your own request an handle the results
            $.ajax({
                url: actionurl,
                type: 'post',
                dataType: 'json',
                data: $("#myform").serialize(),
                success: function (data) {

                }
            });

        });
        
    </script>
</body>

</html>