@{
    ViewBag.Title = "LoginMaster";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<html>
<head>
    <title>MMS</title>
    <link href="~/Content/css1/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css1/custom.css" rel="stylesheet" />
    <link href="~/Content/css1/responsive.css" rel="stylesheet" />
    <link href="~/Content/css1/variables.css" rel="stylesheet" />
    <link href="~/Content/css1/dropdown.css" rel="stylesheet" />
    <!--Font Awsome style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.css" />

    <!--Main Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <!--Side bar ACcordian Style -->
    <link rel="stylesheet" href="~/Content/css/accordian-style.css">


</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @RenderBody()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Content/js/dropdown.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/Validation.js"></script>
</body>



</html>
