@{
    ViewBag.Title = "LoginMaster";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<html>
<head>
    <title>MMS</title>

    <!--Font Awsome style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

 
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.css" />

    <!--Main Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">


    <!--Side bar ACcordian Style -->
    <link rel="stylesheet" href="~/Content/css/accordian-style.css">
</head>
<body>
    @Scripts.Render("~/bundles/jquery")

    @RenderBody()
</body>



</html>
