@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_jobLayout.cshtml";
}
<div class="home_dashboard col-xs-12 dashboard-content-pad dashboard-content-pad-scroll mCustomScrollbar light" data-mcs-theme="minimal-dark">
    <div class="dashboard-content col-xs-12 no-padding">
        <div class="dashboard_head dashboard-title congest col-lg-12 col-md-12 col-sm-12  col-xs-12">
            <div class="dashboard-title  col-lg-12 col-md-12 col-sm-12 col-12 no-padding">
                <h2>BOM</h2>
            </div>
        </div>
    </div>
    <div id="tabVehicleWatchList">
        @Html.Action("Job_BOMMaterialListGrid", "Job_BOMMaterialList")
    </div>

</div>
<script>

    $(document).ready(function () {
        
        $(document).ajaxStart(function () {
            $(".loader-overlay").css("display", "block");
        });

        $(document).ajaxComplete(function () {
            $(".loader-overlay").css("display", "none");
        });
        $(window).load(function () {
            $('.loader-overlay').fadeOut('fast');
        });
        $('#example').DataTable();
        
     // $("#Edit_jobBOMPartial").hide();
    });
    function Job_bomadd() {
        
        @*$('.veh-tablecont').hide();
        $.ajax({
            type: "POST",
            url: ' @Url.Action("BillOfMaterialDetails", "Job_BOMMaterialList")',
            data: { BOMID: 0 },
            success: function (data) {
                
                $("#Edit_jobBOMPartial").html(data);
                $("#Edit_jobBOMPartial").show();
            }
        });*@

        location.href = "BillOfMaterialDetails?BOMID=" + 0;
    }
    function Edit(arg) {
        @*$('.veh-tablecont').hide();
        $.ajax({
            type: "POST",
            url: ' @Url.Action("BillOfMaterialDetails", "Job_BOMMaterialList")',
            data: { BOMID: arg },
            success: function (data) {
                $("#Edit_jobBOMPartial").html(data);
                $("#Edit_jobBOMPartial").show();
            }
        });*@
        location.href = "BillOfMaterialDetails?BOMID=" + arg;
    }



</script>