@model MMS.Web.Models.OrderTypeModel.OrderTypeModel
@{
    ViewBag.Title = "Component";
    Layout = "~/Views/Shared/_Layout.cshtml";

  
}

<script>
 
    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $(".loader-overlay").css("display", "block");
        });

        $(document).ajaxComplete(function () {
            $(".loader-overlay").css("display", "none");
        });
        $(window).load(function () {
            $('.loader-overlay').fadeOut('fast');
        });
        $("#EditColorPartial").hide();

    });
    function Save() {
        if ($('#OrderTypeCode').val() == "") {
            alert("Please Enter Order Type Code.")
            $('#OrderTypeCode').css('border-color', 'red');
            $('#OrderTypeCode').focus();
            return false;
        }
        else {
            $('#OrderTypeCode').css('border-color', '');
        }
        if ($('#OrderTypeName').val() == "") {
            alert("Please Enter Order Type Name.")
            $('#OrderTypeName').css('border-color', 'red');
            $('#OrderTypeName').focus();
            return false;
        }
        else {
            $('#OrderTypeName').css('border-color', '');
        }
       
        $.ajax({
            type: 'POST',
            url: '/OrderType/OrderType',
            data: {             
                OrderTypeCode: $('#OrderTypeCode').val(),
                OrderTypeName: $('#OrderTypeName').val(),
                OrderTypeID: $('#OrderTypeID').val()
            },
            success: function (data) {
                if (data.OrderTypeID != "" || data.OrderTypeID != 0) {
                    alert('Saved Successfully.');
                    location.href = "/OrderType/OrderType";
                    return false;
                }
                else if (data.OrderTypeID == 0 && data.OrderTypeName != "") {
                    alert('Already Exist in the database.');
                    return false;
                }
                else {
                    alert('Save process Failed.');
                    location.href = "/OrderType/OrderType";
                    return false;
                }

            },
            error: function (ex) {
                alert('Already Exist in the database.');
            }
        });
    }
    function Update(arg) {
       if ($('#OrderTypeCode').val() == "") {
            alert("Please Enter Order Type Code.")
            $('#OrderTypeCode').css('border-color', 'red');
            $('#OrderTypeCode').focus();
            return false;
        }
        else {
            $('#OrderTypeCode').css('border-color', '');
        }
        if ($('#OrderTypeName').val() == "") {
            alert("Please Enter Order Type Name.")
            $('#OrderTypeName').css('border-color', 'red');
            $('#OrderTypeName').focus();
            return false;
        }
        else {
            $('#OrderTypeName').css('border-color', '');
        }
        $.ajax({
            type: 'POST',
            url: '/OrderType/Update',
            data: {
                OrderTypeCode: $('#OrderTypeCode').val(),
                OrderTypeName: $('#OrderTypeName').val(),
                OrderTypeID: $('#OrderTypeID').val()               
            },
            success: function (data) {
                if (data.OrderTypeID != "" || data.OrderTypeID != 0) {
                    alert('Updated Successfully.');
                    location.href = "/OrderType/OrderType";
                    return false;
                }
                else {
                    alert('Updation failed.');
                    location.href = "/OrderType/OrderType";
                    return false;
                }

            },
            error: function (ex) {
                alert('Already Exist in the database.');
            }
        });
    }
</script>
<h2 class="content-title">Order Type</h2>
<div style="width: 100%; float: left;">

    <div class="loader-overlay" style="position:fixed;left:0;right:0;top:0;bottom:0;margin:auto;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index:99;">
        <div id="spinner" style="position:relative;height:64px;width:64px;margin:auto;top:50%;">
            <img src="~/Content/Images/round.gif" id="imgLoading" alt="Loading..." />
        </div>
    </div>
    <div id="tabVehicleWatchList">
        @Html.Action("OrderTypeGrid", "OrderType")
    </div>
</div>

